<div class="dialog-header">
    <div class="dialog-title">{{ modelDialogTitle.edit }}</div>
</div>
<form class="form-horizontal" name="frmQualification" id="frmQualification" novalidate>
    <div class="dialog-message dialog-body">
        <div class="form-group">
            <div>
                <label for="txtqualifications" class="label-adjust">Qualification</label>
                <input type="text" class="form-control" id="txtqualifications" name="txtqualifications"
                       data-ng-model="editqualifications.name" required ng-maxlength="50" 
                       ng-focus="setDrag(true)" ng-blur="setDrag(false)" />
            </div>
        </div>
        <div class="form-group">
            <label for="txtDescription" class="label-adjust">Description</label> 
            <textarea class="form-control" id="txtDescription" name="txtDescription"
                   data-ng-model="editqualifications.description" required 
                   ng-focus="setDrag(true)" ng-blur="setDrag(false)"></textarea>                       
        </div>      
    </div>
    <div class="dialog-buttons dialog-footer">        
        <button type="button" class="btn btn-danger btn-sm" ng-click="Cancel()">Cancel</button>
        <button type="button" class="btn btn-success btn-sm" data-ng-click="Update()">&#160;Save&#160;</button>
    </div>
</form>