 <div class="pageheader">
    <h1>User Search</h1>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li><a href="javascript:void(0);" ui-sref="admin.home">Dashboard</a>
            </li>
            <li>Users</li>
            <li class="active">User Search</li>
        </ol>
    </div>
</div>

<section id="main-content" class="animated fadeInRight">
	<div kendo-window="aboutmeWindow" k-options="windowOptions"></div>
	<div class="row">
		<div class="col-md-12  col-lg-12">
			<div class="row">
				<div class="panel panel-default">
	                <div class="panel-heading">
	                    <h3 class="panel-title">Search By</h3>
	                    <div class="actions pull-right">
	                    	<i data-fullscreen-widget class="fa fa-expand"></i>
	                        <i data-widget-toggle class="fa fa-chevron-down"></i>
	                        <i data-widget-close class="fa fa-times"></i>
	                    </div>
	                </div>
	                <div class="panel-body">
                        <div class="row no-padding auto-margin">
                             <form class="form-horizontal" name="frmSearchForm" id="frmSearchForm">
                                 <div class="col-md-4">
                                     <div class="form-group no-margin">
                                            <label for="txtEmailId" class="label-adjust">Email</label>
                                            <input type="text" class="k-input width-95 validate[required]" id="txtEmailId" name="txtEmailId"
                                                   data-ng-model="search.emailId" ng-maxlength="150" 
                                                  />
                                    </div>

                                    <div class="form-group no-margin">
                                            <label for="txtContactNo" class="label-adjust">Contact No</label>
                                            <input type="text" class="k-input width-95 validate[required]" id="txtContactNo" name="txtContactNo"
                                                   data-ng-model="search.contactNo" ng-maxlength="20" 
                                                  />        
                                    </div>

                                    <div class="form-group no-margin">
                                            <label for="selUserGroups" class="label-adjust">User Group</label>
											<select class="k-input width-95 validate[required]" name="selUserGroups" ng-model="defaultUserGroups"  ng-options="obj.text for obj in usergroups track by obj.value"  required>
                                			</select>   
                                    </div>

                                    <div class="form-group no-margin">
                                            <label for="selDepartments" class="label-adjust">Departments</label>
											<select class="k-input width-95 validate[required]" name="selDepartments" ng-model="defaultDepartments"  ng-options="obj.text for obj in departments track by obj.value"  required>
                                			</select>   
                                    </div>	                                    
                                 </div>

                                 <div class="col-md-4">
                                     <div class="form-group no-margin">
                                            <label for="txtfirstName" class="label-adjust">First Name</label>
                                            <input type="text" class="k-input width-95 validate[required]" id="txtfirstName" name="txtfirstName"
                                                   data-ng-model="search.firstName" ng-maxlength="150" 
                                                  />
                                    </div>

                                    <div class="form-group no-margin">
                                            <label for="txtlastName" class="label-adjust">Last Name</label>
                                            <input type="text" class="k-input width-95 validate[required]" id="txtlastName" name="txtlastName"
                                                   data-ng-model="search.lastName" ng-maxlength="20" 
                                                  />        
                                    </div>

                                    <div class="form-group no-margin">
                                            <label for="txtjobTitle" class="label-adjust">Job Title</label>
                                            <input type="text" class="k-input width-95 validate[required]" id="txtjobTitle" name="txtjobTitle"
                                                   data-ng-model="search.jobTitle" ng-maxlength="20" 
                                                  />     
                                    </div>

                                    <div class="form-group no-margin">
                                            <label for="txtemployeeId" class="label-adjust">Employee Id</label>
                                            <input type="text" class="k-input width-95 validate[required]" id="txtemployeeId" name="txtemployeeId"
                                                   data-ng-model="search.employeeId" ng-maxlength="20" 
                                                  />   
                                    </div>	                                    
                                 </div>

	                                 <div class="col-md-4">
                                    <div class="form-group no-margin">
                                            <label for="selblocks" class="label-adjust">Alloted Block</label>
											<select class="k-input width-95 validate[required]" name="selblocks" ng-model="defaultBlocks"  ng-options="obj.text for obj in blocks track by obj.value"  required>
                                			</select>   
                                    </div>

                                    <div class="form-group no-margin">
                                            <label for="seldistricts" class="label-adjust">Alloted District</label>
											<select class="k-input width-95 validate[required]" name="seldistricts" ng-model="defaultDistricts"  ng-options="obj.text for obj in districts track by obj.value"  required>
                                			</select>   
                                    </div>

                                    <div class="form-group no-margin">
                                            <label for="selreportingto" class="label-adjust">Reporting To</label>
											<select class="k-input width-95 validate[required]" name="selreportingto" ng-model="defaultReportingto"  ng-options="obj.text for obj in reportingto track by obj.value"  required>
                                			</select>   
                                    </div>

                                    <div class="form-group no-margin">
                                            <label for="selactivelist" class="label-adjust">Active/Inactive</label>
											<select class="k-input width-95 validate[required]" name="selactivelist" ng-model="defaultAcOptions"  ng-options="obj.text for obj in activelist track by obj.value"  required>
                                			</select>   
                                    </div>	                                    
                                 </div>
                                 <div class="col-md-12 panel-heading text-right">
                                 	<input type="button" class="btn btn-success btn-sm" value="Search" ng-click="SearchUsers()"/>
                                 	<input type="button" class="btn btn-danger btn-sm" value="Reset" ng-click="doReset()"/>   	
                                 </div>
                            </form>                           
                        </div> 		                	
	                </div>
	            </div>
		    </div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12  col-lg-12">
			<div class="row">
				<div class="panel panel-default">
	                <div class="panel-heading">
	                    <h3 class="panel-title">Search Results</h3>
	                    <div class="actions pull-right">
	                    	<i data-fullscreen-widget class="fa fa-expand"></i>
	                        <i data-widget-toggle class="fa fa-chevron-down"></i>
	                        <i data-widget-close class="fa fa-times"></i>
	                    </div>
	                </div>
	                <div class="panel-body">
	                	<div kendo-pager k-data-source="dataSource"></div>	
                        <div class="row no-padding auto-margin" kendo-list-view  k-data-source="dataSource">
					    	<div class="card col-md-2" card-flip k-template>
						        <div class="front">
									<div class="actions pull-right clear-both">
				                        <i class="fa fa-times"></i>
				                    </div>
						            <span class="meta">
			                            <span class="thumb">
			                                <img style="height:120px;width:120px;" no-cache-src="{{dataItem.imageName}}" class="img-circle" alt="">
			                            </span>
			                            <div class="text">{{dataItem.screenName}}</div>
			                            <div class="text">{{dataItem.jobTitle}}</div>
			                        </span>
			                        <div class="meta">
										<div  class="text widget-gauge">
											<label>{{dataItem.employeeId||'-'}}</label>
										</div>		                        	
 
										<div  class="text widget-gauge">
											<label ng-bind="(!dataItem.genderId)?'-':((dataItem.genderId===1)?'Male':'Female')"></label>
										</div>			                        	

										<div  class="text widget-gauge">
											<label>{{dataItem.email||'-'}}</label>
										</div>

							
										<div  class="text widget-gauge">
											<label>{{dataItem.skypeName||'-'}}</label>
										</div>

										<div  class="text widget-gauge">
											<label>{{dataItem.dateOfJoining||'-'}}</label>
										</div>			                        	

										<div  class="text widget-gauge">
											<label>{{dataItem.communicationAddress||'-'}}</label>
										</div>			                        	

										<div  class="text widget-gauge">
											<label>{{dataItem.teamName||'-'}}</label>
										</div>
			                        </div>
			                        <div class="meta">
			                        	<div class="text widget-gauge" style="position:fixed;bottom:0;">
					                    	<i class="fa fa-eye"></i>
					                        <i class="fa fa-edit"></i>
					                        <i class="fa" ng-class="dataItem.IsLocked?'fa-unlock':' fa-lock'"></i>
					                    </div>
			                        </div>
						        </div>
						    
						        <div class="back">
						            <h3 class="first quickFlipCta">About Me</h3>
						            <div >
						            	{{dataItem.description}}
						            </div>
						        </div>			    		
					    	</div>
                        </div>
                        <div kendo-pager k-data-source="dataSource"></div>		                	
	                </div>
	            </div>
		    </div>
		</div>
	</div>
</section>
