 <div class="pageheader">
    <h1>User Search</h1>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li><a href="javascript:void(0);" ui-sref="admin.home">Dashboard</a>
            </li>
            <li>Users</li>
            <li class="active">User Search</li>
        </ol>
    </div>
</div>

<section id="main-content" class="animated fadeInRight">
	<div kendo-window="aboutmeWindow" k-options="windowOptions"></div>
	<div class="row">
		<div class="col-md-12  col-lg-12">
			<div class="row">
				<div class="panel panel-default">
	                <div class="panel-heading">
	                    <h3 class="panel-title">Search By</h3>
	                    <div class="actions pull-right">
	                    	<i data-fullscreen-widget class="fa fa-expand"></i>
	                        <i data-widget-toggle class="fa fa-chevron-down"></i>
	                        <i data-widget-close class="fa fa-times"></i>
	                    </div>
	                </div>
	                <div class="panel-body">
                        <div class="row no-padding auto-margin">
                             <form class="form-horizontal" name="frmSearchForm" id="frmSearchForm">
                                 <div class="col-md-4">
                                     <div class="form-group no-margin">
                                            <label for="txtEmailId" class="label-adjust">Email</label>
                                            <input type="text" class="k-input width-95 validate[required]" id="txtEmailId" name="txtEmailId"
                                                   data-ng-model="search.emailId" ng-maxlength="150" 
                                                  />
                                    </div>

                                    <div class="form-group no-margin">
                                            <label for="txtContactNo" class="label-adjust">Contact No</label>
                                            <input type="text" class="k-input width-95 validate[required]" id="txtContactNo" name="txtContactNo"
                                                   data-ng-model="search.contactNo" ng-maxlength="20" 
                                                  />        
                                    </div>

                                    <div class="form-group no-margin">
                                            <label for="selUserGroups" class="label-adjust">User Group</label>
											<select class="k-input width-95 validate[required]" name="selUserGroups" ng-model="defaultUserGroups"  ng-options="obj.text for obj in usergroups track by obj.value"  required>
                                			</select>   
                                    </div>

                                    <div class="form-group no-margin">
                                            <label for="selDepartments" class="label-adjust">Departments</label>
											<select class="k-input width-95 validate[required]" name="selDepartments" ng-model="defaultDepartments"  ng-options="obj.text for obj in departments track by obj.value"  required>
                                			</select>   
                                    </div>	                                    
                                 </div>

                                 <div class="col-md-4">
                                     <div class="form-group no-margin">
                                            <label for="txtfirstName" class="label-adjust">First Name</label>
                                            <input type="text" class="k-input width-95 validate[required]" id="txtfirstName" name="txtfirstName"
                                                   data-ng-model="search.firstName" ng-maxlength="150" 
                                                  />
                                    </div>

                                    <div class="form-group no-margin">
                                            <label for="txtlastName" class="label-adjust">Last Name</label>
                                            <input type="text" class="k-input width-95 validate[required]" id="txtlastName" name="txtlastName"
                                                   data-ng-model="search.lastName" ng-maxlength="20" 
                                                  />        
                                    </div>

                                    <div class="form-group no-margin">
                                            <label for="txtjobTitle" class="label-adjust">Job Title</label>
                                            <input type="text" class="k-input width-95 validate[required]" id="txtjobTitle" name="txtjobTitle"
                                                   data-ng-model="search.jobTitle" ng-maxlength="20" 
                                                  />     
                                    </div>

                                    <div class="form-group no-margin">
                                            <label for="txtemployeeId" class="label-adjust">Employee Id</label>
                                            <input type="text" class="k-input width-95 validate[required]" id="txtemployeeId" name="txtemployeeId"
                                                   data-ng-model="search.employeeId" ng-maxlength="20" 
                                                  />   
                                    </div>	                                    
                                 </div>

	                                 <div class="col-md-4">
                                    <div class="form-group no-margin">
                                            <label for="selblocks" class="label-adjust">Alloted Block</label>
											<select class="k-input width-95 validate[required]" name="selblocks" ng-model="defaultBlocks"  ng-options="obj.text for obj in blocks track by obj.value"  required>
                                			</select>   
                                    </div>

                                    <div class="form-group no-margin">
                                            <label for="seldistricts" class="label-adjust">Alloted District</label>
											<select class="k-input width-95 validate[required]" name="seldistricts" ng-model="defaultDistricts"  ng-options="obj.text for obj in districts track by obj.value"  required>
                                			</select>   
                                    </div>

                                    <div class="form-group no-margin">
                                            <label for="selreportingto" class="label-adjust">Reporting To</label>
											<select class="k-input width-95 validate[required]" name="selreportingto" ng-model="defaultReportingto"  ng-options="obj.text for obj in reportingto track by obj.value"  required>
                                			</select>   
                                    </div>

                                    <div class="form-group no-margin">
                                            <label for="selactivelist" class="label-adjust">Active/Inactive</label>
											<select class="k-input width-95 validate[required]" name="selactivelist" ng-model="defaultAcOptions"  ng-options="obj.text for obj in activelist track by obj.value"  required>
                                			</select>   
                                    </div>	                                    
                                 </div>
                                 <div class="col-md-12 panel-heading text-right">
                                 	<input type="button" class="btn btn-success btn-sm" value="Search" ng-click="SearchUsers()"/>
                                 	<input type="button" class="btn btn-danger btn-sm" value="Reset" ng-click="doReset()"/>   	
                                 </div>
                            </form>                           
                        </div> 		                	
	                </div>
	            </div>
		    </div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12  col-lg-12">
			<div class="row">
				<div class="panel panel-default">
	                <div class="panel-heading">
	                    <h3 class="panel-title">Search Results</h3>
	                    <div class="actions pull-right">
	                    	<i data-fullscreen-widget class="fa fa-expand"></i>
	                        <i data-widget-toggle class="fa fa-chevron-down"></i>
	                        <i data-widget-close class="fa fa-times"></i>
	                    </div>
	                </div>
	                <div class="panel-body">
	                	<div kendo-pager k-data-source="dataSource"></div>	
                        <div class="row no-padding auto-margin" kendo-list-view  k-data-source="dataSource">
							<div class="col-md-2 col-sm-2" k-template>
					            <div class="card-container manual-flip"  card-flip>
					                <div class="card">
					                    <div class="front">
					                        <div class="cover">
					                            <img src="assets/images/rotating_card_thumb3.png">
					                        </div>
					                        <div class="user">
					                            <img class="img-circle" no-cache-src="{{dataItem.imageName}}" class="img-circle" alt="">
					                        </div>
					                        <div class="content">
					                            <div class="main">
					                                <h3 class="name">{{dataItem.screenName}}</h3>
					                                <p class="profession">{{dataItem.jobTitle}}</p>
					                                <p class="text-center">
														<i class="fa fa-fw fa-openid"></i>
														<label>{{dataItem.employeeId||'-'}}</label>
					                                </p>
					                                <p class="text-center">
														<i class="fa fa-fw" ng-class="(!dataItem.genderId)?'icon-user':((dataItem.genderId===1)?'icon-user':'icon-user-female')" ></i>
														<label ng-bind="(!dataItem.genderId)?'-':((dataItem.genderId===1)?'Male':'Female')"></label>
					                                </p>
					                                					                                
					                                <p class="text-center">
														<i class="fa fa-fw icon-users"></i>
														<label>{{dataItem.fatherName||'-'}}</label>
					                                </p>

					                                <p class="text-center">
														<i class="fa fa-fw fa-map-marker"></i>
														<label>{{dataItem.allottedDistrictName||'-'}}</label>
					                                </p>	

					                                <p class="text-center">
														<i class="fa fa-fw fa-map-marker"></i>
														<label>{{dataItem.allottedBlockName||'-'}}</label>
					                                </p>	
					                                <p class="text-center">
														<i class="fa fa-fw fa-calendar"></i>
														<label>{{dataItem.dateOfJoining||'-'}}</label>
					                                </p>					                                
					                            </div>
					                            <div class="footer">
					                                <button class="btn btn-simple back-button">
					                                    <i class="fa fa-mail-forward"></i>
					                                </button>
					                                <a class="btn btn-simple" ui-sref="admin.profile({id: dataItem.id, mode: 'view'})">
					                                    <i class="fa fa-eye font-middle-icons"></i>
					                                </a>
					                                <a class="btn btn-simple" ui-sref="admin.profile({id: dataItem.id, mode: 'edit'})">
					                                    <i class="fa fa-edit font-middle-icons"></i>
					                                </a>
					                                <button class="btn btn-simple" ng-click="UnLock(dataItem.id)">
					                                    <i class="fa font-middle-icons" ng-class="dataItem.IsLocked?'fa-unlock':' fa-lock'"></i>
					                                </button>
					                                <button class="btn btn-simple"  ng-click="deleteUser(dataItem.id)">
					                                    <i class="fa fa-times"></i>
					                                </button>					                                
					                            </div>
					                        </div>
					                    </div> <!-- end front panel -->
					                    <div class="back">
					                        <div class="header">
					                            <h5 class="motto">Personal Information</h5>
					                        </div>
					                        <div class="content">
					                            <div class="main">
					                                <h4 class="text-center">About Me</h4>
					                                <p class="text-center">{{(dataItem.description||'Not yet updated!')|ellipsis:200}}</p>
					                                <p class="text-center">
														<i class="fa fa-fw fa-calendar"></i>
														<label>{{dataItem.dateOfBirth||'-'}}</label>
					                                </p>
					                                <p class="text-center">
														<i class="fa fa-edit fa-wheelchair"></i>
														<label>{{dataItem.physicallyChallanged?'Yes' : 'No'}}</label>
					                                </p>
					                                <p class="text-center"> 
														<i class="fa fa-edit fa-phone"></i>
														<label>{{dataItem.mobileNumber||'-'}}</label>
					                                </p>
					                                <p class="text-center"> 
														<i class="fa fa-edit fa-hospital-o"></i>
														<label>{{dataItem.bloodGroupName||'-'}}</label>
					                                </p>
					                                <p class="text-center">
														<i class="fa fa-fw fa-map-marker"></i>
														<label>{{dataItem.communicationAddress||'-'}}</label>
					                                </p>
					                            </div>
					                        </div>
					                        <div class="footer">
				                                <button class="btn btn-simple back-button">
				                                    <i class="fa fa-mail-reply"></i>
				                                </button>
												<div class="social-links text-center">
				                                	<a href="javascript:void(0);" ng-click="ResetPasswordByAdmin(dataItem.id)">
				                                		<i class="fa fa-fw icon-key"></i>
				                                	</a>												
				                                	<a ng-if="dataItem.skypeName"  ng-href="{{'skype:'+dataItem.skypeName+'?userinfo'}}">
				                                		<i class="fa fa-fw fa-skype"></i>
				                                	</a>
				                                	<a ng-if="dataItem.gmailId"  ng-href="{{'mailto:'+dataItem.gmailId}}">
				                                		<i class="fa fa-fw fa-google"></i>
				                                	</a>
				                                	<a ng-if="dataItem.businessEmail" ng-href="{{'mailto:'+dataItem.businessEmail}}">
				                                		<i class="fa fa-fw fa-envelope-o"></i>
				                                	</a>
												</div>			                                
					                        </div>					                        
					                    </div> <!-- end back panel -->
					                </div> <!-- end card -->
					        	</div> <!-- end card-container -->
							</div>
                        </div>
                        <div kendo-pager k-data-source="dataSource"></div>		                	
	                </div>
	            </div>
		    </div>
		</div>
	</div>
</section>
