<section id="main-content" class="animated fadeInRight ng-scope">
    <div class="row no-padding auto-margin">
        <div class="col-md-12 col-lg-12 no-padding auto-margin">
            <div class="row  no-padding auto-margin">
                <div class="col-md-12  no-padding auto-margin">
                    <div class="panel panel-default no-margin">
                        <div class="panel-body no-padding auto-margin">
                            <div class="row no-padding auto-margin">
                                <form class="form-horizontal" name="frmAddAudit" id="frmAddAudit">
                                    <div class="form-group no-margin">
                                        <div>
                                            <label for="selRounds"  class="label-adjust">Round</label>
                                            <select name="selRounds" class="k-input width-95 validate[required]" ng-model="defaultrounds" ng-options="obj.text for obj in rounds track by obj.value" ng-change="OnRoundSelectedValue(defaultrounds)">
                                            </select>
                                        </div>
                                    </div>

                                     <div class="form-group no-margin">
                                        <div>
                                            <label for="selRounds"  class="label-adjust">Grama Sabha Date</label>
                                            <input type="text" class="k-input width-95" kendo-date-picker="gramaSabhaDateObject" data-ng-model="audit.gramaSabhaDate" k-options="dateOptions" />
                                        </div>
                                    </div>

                                    <div class="form-group no-margin">
                                        <div>
                                            <label for="selDistrict"  class="label-adjust">District</label>
                                            <select name="selDistrict" class="k-input width-95 validate[required]" ng-model="defaultdistricts" ng-options="obj.text for obj in districts track by obj.value" ng-change="OnDistrictsSelectedValue(defaultdistricts)">
                                            </select>
                                        </div>                     
                                    </div>     
                                    <div class="form-group no-margin">
                                        <div>
                                            <label for="selBlock"  class="label-adjust">Block</label>
                                            <select name="selBlock" class="k-input width-95 validate[required]" ng-model="defaultblocks" ng-options="obj.text for obj in blocks track by obj.value" ng-change="OnBlocksSelectedValue(defaultblocks)">
                                            </select>
                                        </div>                     
                                    </div>     
                                    <div class="form-group no-margin">
                                        <div>
                                            <label for="selVillage"  class="label-adjust">Village</label>
                                            <select name="selVillage" class="k-input width-95 validate[required]" ng-model="defaultvillages" ng-options="obj.text for obj in villages track by obj.value" ng-change="OnVillagesSelectedValue(defaultvillages)">
                                            </select>
                                        </div>                     
                                    </div>
                                </form>                           
                            </div>                           
                        </div>
                        <div class="panel-body">
                            <div class="row no-padding auto-margin">
                                <div class="row no-padding auto-margin">
                                    <div class="dialog-buttons dialog-footer text-right">        
                                        <button type="button" class="btn btn-danger btn-sm" ng-click="CloseAuditWindow()">Cancel</button>
                                        <button type="button" class="btn btn-success btn-sm" data-ng-click="Submit()">&#160;Save&#160;</button>
                                    </div>            
                                </div>                             
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>