<div class="dialog-header">
    <div class="dialog-title">{{ modelDialogTitle.add }}</div>
</div>
<form class="form-horizontal" name="frmDepartments" id="frmDepartments" novalidate>
    <div class="dialog-message dialog-body">
        <div class="form-group">
            <div>
                <label for="selRounds"  class="label-adjust">Round</label>
                <select name="selRounds" class="form-control" ng-model="defaultrounds" ng-options="obj.text for obj in rounds track by obj.value" ng-focus="setDrag(true)" ng-blur="setDrag(false)" >
                </select>
            </div>
        </div>
        <div class="form-group">
            <div>
                <label for="selDistrict"  class="label-adjust">District</label>
                <select name="selDistrict" class="form-control" ng-model="defaultdistricts" ng-options="obj.text for obj in districts track by obj.value" ng-focus="setDrag(true)" ng-blur="setDrag(false)" >
                </select>
            </div>                     
        </div>     
        <div class="form-group">
            <div>
                <label for="selBlock"  class="label-adjust">Block</label>
                <select name="selBlock" class="form-control" ng-model="defaultblocks" ng-options="obj.text for obj in blocks track by obj.value" ng-focus="setDrag(true)" ng-blur="setDrag(false)" >
                </select>
            </div>                     
        </div>     
        <div class="form-group">
            <div>
                <label for="selVillage"  class="label-adjust">Village</label>
                <select name="selVillage" class="form-control" ng-model="defaultvillages" ng-options="obj.text for obj in villages track by obj.value" ng-focus="setDrag(true)" ng-blur="setDrag(false)" >
                </select>
            </div>                     
        </div>      
    </div>
    <div class="dialog-buttons dialog-footer">        
        <button type="button" class="btn btn-danger btn-sm" ng-click="Cancel()">Cancel</button>
        <button type="button" class="btn btn-success btn-sm" data-ng-click="Submit()">&#160;Save&#160;</button>
    </div>
</form>