<div class="dialog-header">
    <div class="dialog-title">{{ modelDialogTitle.edit }}</div>
</div>
<form class="form-horizontal" name="departmentsForm" id="departmentsForm" novalidate>
     <div class="dialog-message dialog-body">
        <div class="form-group">
            <div>
                <label for="selblocks"  class="label-adjust">Block Name</label>
                <select name="selblocks" class="form-control" ng-model="editdefaultOptions" ng-options="obj.text for obj in blocks track by obj.value" ng-focus="setDrag(true)" ng-blur="setDrag(false)" >
                </select>
            </div>
        </div>
        <div class="form-group">
            <div>
                <label for="txtname" class="label-adjust">Village Panchayat Name</label>
                <input type="text" class="form-control" id="txtname" name="txtname"
                       data-ng-model="editvillage.name" required ng-maxlength="50" 
                       ng-focus="setDrag(true)" ng-blur="setDrag(false)" />
            </div>
        </div>
        <div class="form-group">
            <div>
                <label for="txtvpCode" class="label-adjust">Village Panchayat Code</label>
                <input type="text" class="form-control" id="txtvpCode" name="txtvpCode"
                       data-ng-model="editvillage.vpCode" 
                       ng-focus="setDrag(true)" ng-blur="setDrag(false)" />
            </div>
        </div>       
        <div class="form-group">
            <label for="txtdescription" class="label-adjust">Description</label> 
            <textarea class="form-control" id="txtdescription" name="txtdescription"
                   data-ng-model="editvillage.description" required 
                   ng-focus="setDrag(true)" ng-blur="setDrag(false)"></textarea>                       
        </div>      
    </div>
    <div class="dialog-buttons dialog-footer">        
        <button type="button" class="btn btn-danger btn-sm" ng-click="Cancel()">Cancel</button>
        <button type="button" class="btn btn-success btn-sm" data-ng-click="Update()">&#160;Save&#160;</button>
    </div>
</form>