<div class="dialog-header">
    <div class="dialog-title">{{ modelDialogTitle.add }}</div>
</div>
<form class="form-horizontal" name="frmDepartments" id="frmDepartments" novalidate>
    <div class="dialog-message dialog-body">
        <div class="form-group">
            <div>
                <label for="txtBankName" class="label-adjust">Bank Name</label>
                <input type="text" class="form-control" id="txtBankName" name="txtBankName"
                       data-ng-model="bank.name" required ng-maxlength="50" 
                       ng-focus="setDrag(true)" ng-blur="setDrag(false)" />
            </div>
        </div>
        <div class="form-group">
            <label for="txtdescription" class="label-adjust">Description</label> 
            <textarea class="form-control" id="txtdescription" name="txtdescription"
                   data-ng-model="bank.description" required 
                   ng-focus="setDrag(true)" ng-blur="setDrag(false)"></textarea>                       
        </div>      
    </div>
    <div class="dialog-buttons dialog-footer">        
        <button type="button" class="btn btn-danger btn-sm" ng-click="Cancel()">Cancel</button>
        <button type="button" class="btn btn-success btn-sm" data-ng-click="Submit()">&#160;Save&#160;</button>
    </div>
</form>