<div class="sidebar-profile">
    <div class="avatar">
        <img class="img-circle profile-image" no-cache-src="{{sessionConfig.imageName}}">
        <i class="on border-dark animated bounceIn"></i>
    </div>
    <div class="profile-body dropdown">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><h4>{{sessionConfig.screenName}}<span class="caret"></span></h4></a>
        <small class="title">{{sessionConfig.loggedInBy}}</small>
        <ul class="dropdown-menu animated fadeInRight" role="menu">
            <li class="profile-progress">
                <h5>
                <span>20%</span>
                  <small>Profile complete</small>
                </h5>
                <div class="progress progress-xs">
                    <div class="progress-bar progress-bar-primary" style="width: 20%">
                    </div>
                </div>
            </li>
            <li class="divider"></li>
            <li>
                <a href="javascript:void(0);" ui-sref="admin.profile" >
                    <span class="icon"><i class="fa fa-user"></i>
                                </span>My Account</a>
            </li>
            <li>
                <a href="javascript:;" ng-click="OpenChangePasswordWindow();">
                    <span class="icon"><i class="fa fa-cog"></i>
                                </span>Change Password</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="javascript:;" ng-click="logout();">
                    <span class="icon"><i class="fa fa-sign-out"></i>
                    </span>Logout</a>
            </li>
        </ul>
    </div>
</div>
<nav>
    <h5 class="sidebar-header">Navigation</h5>
    <!-- location directive.js | data-nav-toggle-sub maps to -->
    <ul class="nav nav-pills nav-stacked" data-nav-toggle-sub>
        <li ui-sref-active="active">
            <a href="" ui-sref="admin.home" title="Dashboard">
                <i class="fa fa-fw fa-tachometer"></i> Dashboard
            </a>
        </li>
        <li ng-show="sessionConfig.loggedInAs" class="nav-dropdown" ng-class="{active: $state.includes('admin')}">
            <a ng-show="sessionConfig.loggedInAs"  href="" title="UI Elements">
                <i class="fa  fa-fw fa-plus-circle"></i> Masters
            </a>
            <ul ng-show="sessionConfig.loggedInAs" class="nav-sub" ng-class="{in: $state.includes('admin')}">
                <li ng-show="sessionConfig.loggedInAs"  ui-sref-active="active">
                    <a href="javascript:;" ui-sref="admin.blocks" title="Blocks">Blocks
                   </a>
                </li>
                <li ng-show="sessionConfig.loggedInAs"  ui-sref-active="active">
                    <a href="javascript:;" ui-sref="admin.banks" title="Bank &amp; Details">Bank Details
                   </a>
                </li>
                <li ng-show="sessionConfig.loggedInAs"  ui-sref-active="active">
                    <a href="javascript:;" ui-sref="admin.bloodgroups" title="Blood &amp; Groups">Blood Groups
                   </a>
                </li>
                <li ng-show="sessionConfig.loggedInAs"  ui-sref-active="active">
                    <a href="javascript:;" ui-sref="admin.communities" title="Communities">Communities
                   </a>
                </li>
                <li ng-show="sessionConfig.loggedInAs"  ui-sref-active="active">
                    <a href="javascript:;" ui-sref="admin.calendars({mode: 'list'})" title="Calendar">Calendar
                    </a>
                </li>
                <li ng-show="sessionConfig.loggedInAs"  ui-sref-active="active">
                    <a href="javascript:;" ui-sref="admin.configsystem" title="Config System">Config System
                   </a>
                </li>                
                <li ng-show="sessionConfig.loggedInAs"  ui-sref-active="active">
                    <a href="javascript:;" ui-sref="admin.countries" title="Countries">Countries
                   </a>
                </li>
                <li ng-show="sessionConfig.loggedInAs"  ui-sref-active="active">
                    <a href="javascript:;" ui-sref="admin.departments" title="Departments">Departments</a>
                </li>
                <li ng-show="sessionConfig.loggedInAs"  ui-sref-active="active">
                    <a href="javascript:;" ui-sref="admin.districts" title="Districts">Districts</a>
                </li>
                <li ng-show="sessionConfig.loggedInAs"  ui-sref-active="active">
                    <a href="javascript:;" ui-sref="admin.entitygroups" title="User Groups">User Groups</a>
                </li>
                <li ng-show="sessionConfig.loggedInAs"  ui-sref-active="active">
                    <a href="javascript:;" ui-sref="admin.financialyears" title="Financial Years">Financial Years</a>
                </li>  
                <li ng-show="sessionConfig.loggedInAs"  ui-sref-active="active">
                    <a href="javascript:;" ui-sref="admin.qualifications" title="Qualifications">Qualifications</a>
                </li>
                <li ng-show="sessionConfig.loggedInAs"  ui-sref-active="active">
                    <a href="javascript:;" ui-sref="admin.rounds" title="Rounds">Rounds</a>
                </li>
                <li ng-show="sessionConfig.loggedInAs"  ui-sref-active="active">
                    <a href="javascript:;" ui-sref="admin.states" title="States">States</a>
                </li>
                <li ng-show="sessionConfig.loggedInAs"  ui-sref-active="active">
                    <a href="javascript:;" ui-sref="admin.villagepanchayats" title="Village Panchayats">Village Panchayats</a>
                </li>
            </ul>
        </li>
        <li ng-show="sessionConfig.loggedInAs" class="nav-dropdown" ng-class="{active: $state.includes('news')}">
            <a ng-show="sessionConfig.loggedInAs"  href="" title="News">
                <i class="fa fa-fw icon-speech"></i> News
            </a>
            <ul ng-show="sessionConfig.loggedInAs" class="nav-sub" ng-class="{in: $state.includes('news')}">
                <li ng-show="sessionConfig.loggedInAs"  ui-sref-active="active">
                    <a href="javascript:;" ui-sref="news.newslist({mode: 'list'})" title="Blocks">Show News
                   </a>
                </li>            
                <li ng-show="sessionConfig.loggedInAs"  ui-sref-active="active">
                    <a href="javascript:;" ui-sref="news.managenews({mode: 'add'})" title="Blocks">Add News
                   </a>
                </li>
            </ul>
        </li> 
        <li ng-show="sessionConfig.loggedInAs" class="nav-dropdown" ng-class="{active: $state.includes('messages')}">
            <a ng-show="sessionConfig.loggedInAs"  href="" title="Messages">
                <i class="fa fa-fw icon-bubbles"></i> Messages
            </a>
            <ul ng-show="sessionConfig.loggedInAs" class="nav-sub" ng-class="{in: $state.includes('messages')}">
                <li ng-show="sessionConfig.loggedInAs"  ui-sref-active="active">
                    <a href="javascript:;" ui-sref="messages.messagelist({mode: 'list'})" title="Blocks">Show Messages
                   </a>
                </li>            
                <li ng-show="sessionConfig.loggedInAs"  ui-sref-active="active">
                    <a href="javascript:;" ui-sref="messages.managemessages({mode: 'add'})" title="Blocks">Add Messages
                   </a>
                </li>
            </ul>
        </li> 
        <li class="nav-dropdown" ng-class="{active: $state.includes('entries')}">
            <a href="" title="Forms">
                <i class="fa  fa-fw fa-edit"></i> Entries
            </a>
            <ul class="nav-sub" ng-class="{in: $state.includes('entries')}">
                <li ui-sref-active="active">
                    <a href="javascript:;" ui-sref="entries.audit" title="Audit Entries">
                        Audit Entries
                    </a>
                </li>
            </ul>            
        </li>
        <li class="nav-dropdown" ng-class="{active: $state.includes('users')}">
            <a href="" title="Charts">
                <i class="fa  fa-fw  icon-users"></i> User Management
            </a>
            <ul class="nav-sub" ng-class="{in: $state.includes('users')}">
                <li ng-show="sessionConfig.loggedInAs" ui-sref-active="active">
                    <a href="javascript:;" ui-sref="users.addusers" title="Add User"> Add User </a>
                </li>
                <li ui-sref-active="active">
                    <a href="javascript:;" ui-sref="users.search" title="Search User"> Search User </a>
                </li>                                
            </ul>            
        </li>
        <li ng-show="sessionConfig.loggedInAs||(sessionConfig.isDistrictLevelPerson)" class="nav-dropdown" ng-class="{active: $state.includes('reports')}">
            <a ng-show="sessionConfig.loggedInAs||(sessionConfig.isDistrictLevelPerson)"  href="" title="Reports">
                <i class="fa  fa-fw fa-bar-chart-o"></i> Reports
            </a>
            <ul ng-show="sessionConfig.loggedInAs||(sessionConfig.isDistrictLevelPerson)"  class="nav-sub">

                <li ng-show="sessionConfig.loggedInAs||(sessionConfig.isDistrictLevelPerson)"  ui-sref-active="active">
                    <a href="javascript:;" ui-sref="reports.vrpdetails" title="VRP Details Reports">
                        VRP Details
                    </a>
                </li>

                <li ng-show="sessionConfig.loggedInAs||(sessionConfig.isDistrictLevelPerson)"  ui-sref-active="active">
                    <a href="javascript:;" ui-sref="reports.mgnregaworks" title="MGNREGA Works Reports">
                        MGNREGA Works
                    </a>
                </li>

                <li ng-show="sessionConfig.loggedInAs||(sessionConfig.isDistrictLevelPerson)"  ui-sref-active="active">
                    <a href="javascript:;" ui-sref="reports.expenditurereports" title="Expenditure Reports">
                        Expenditures
                    </a>
                </li>

                <li ng-show="sessionConfig.loggedInAs||(sessionConfig.isDistrictLevelPerson)"  ui-sref-active="active">
                    <a href="javascript:;" ui-sref="reports.specialgramasabhareports" title="Special Grama Sabha Reports">
                        Special Grama Sabha
                    </a>
                </li>

                <li ng-show="sessionConfig.loggedInAs||(sessionConfig.isDistrictLevelPerson)"  ui-sref-active="active">
                    <a href="javascript:;" ui-sref="reports.misappropriationsreports" title="Misappropriation Reports">
                        Misappropriation
                    </a>
                </li>

                <li ng-show="sessionConfig.loggedInAs||(sessionConfig.isDistrictLevelPerson)"  ui-sref-active="active">
                    <a href="javascript:;" ui-sref="reports.deviations" title="Deviation">
                        Deviation
                    </a>
                </li>

                <li ng-show="sessionConfig.loggedInAs||(sessionConfig.isDistrictLevelPerson)"  ui-sref-active="active">
                    <a href="javascript:;" ui-sref="reports.deviationsrecordnotproducedreports" title="Record Not Produced">
                       Record Not Produced
                    </a>
                </li>

                <li ng-show="sessionConfig.loggedInAs||(sessionConfig.isDistrictLevelPerson)"  ui-sref-active="active">
                    <a href="javascript:;" ui-sref="reports.deviationsrecordproducedreports" title="Record Produced">
                        Record Produced
                    </a>
                </li>

                <li ng-show="sessionConfig.loggedInAs||(sessionConfig.isDistrictLevelPerson)"  ui-sref-active="active">
                    <a href="javascript:;" ui-sref="reports.grievancesreports" title="Grievances Reports">
                        Grievances
                    </a>
                </li>

                <li ng-show="sessionConfig.loggedInAs||(sessionConfig.isDistrictLevelPerson)"  ui-sref-active="active">
                    <a href="javascript:;" ui-sref="reports.recoveryreports" title="Recovery Reports">
                        Recovery Reports
                    </a>
                </li>                 
            </ul>           
        </li>       
        <li ng-show="sessionConfig.loggedInAs"  class="nav-dropdown" ng-class="{active: $state.includes('settings')}">
            <a ng-show="sessionConfig.loggedInAs"  href="javascript:;" title="Settings">
                <i class="fa fa-fw fa-cogs"></i> Settings
            </a>
            <ul ng-show="sessionConfig.loggedInAs"  class="nav-sub" ng-class="{in: $state.includes('pageconfig')}">
                <li ng-show="sessionConfig.loggedInAs" ui-sref-active="active">
                    <a href="javascript:;" ui-sref="settings.pageconfig"  title="Page Settings">
                        Page Settings
                    </a>
                </li>                
            </ul>             
        </li>
    </ul>
</nav>
