@font-face {
	font-family: 'open_sansbold';
	src: url('opensans-bold-webfont.woff2') format('woff2'), url('opensans-bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open_sansregular';
	src: url('opensans-regular-webfont.woff2') format('woff2'), url('opensans-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open_sanssemibold';
	src: url('opensans-semibold-webfont.woff2') format('woff2'), url('opensans-semibold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
* {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
h1, h2, h3, h4, h5, h6 {
	margin-bottom: 25px;
	line-height: normal;
	font-family: 'open_sanssemibold';
	font-weight: normal;
}
h1 {
	font-size: 36px;
}
h2 {
	font-size: 34px;
}
h3 {
	font-size: 30px;
}
h4 {
	font-size: 26px;
}
h5 {
	font-size: 22px;
}
h6 {
	font-size: 18px;
}
body {
	font-family: 'open_sansregular';
	font-size: 14px;
	line-height: 1.42857143;
	color: #555555;
	background-color: #fff
}
.clr-blue {
	color: #1a2c75
}
.clr-orange {
	color: #ef5205
}
.clr-sblue {
	color: #00b6e4
}
.header {
	border-top: 5px solid #1f3488;
}
.site-logo {
	float: left;
	margin-bottom: 0;
}
.logo-rt {
	float: right;
}
.site-logo a, .logo-rt a {
	display: block;
}
.slider-section img {
	width: 100%;
}
.login-sec a {
	background-color: #00b6e4;
	color: #fff;
	display: block;
	font-size: 14px;
	height: 56px;
	padding: 17px 20px;
	position: relative;
	text-transform: uppercase;
}
.login-sec a:after {
	background: url("/assets/figure/arw-blue.png") no-repeat scroll 0 0;
	content: "";
	height: 56px;
	left: auto;
	position: absolute;
	right: -16px;
	width: 16px;
	top: 0;
}
.user-ic {
	background: url("/assets/figure/user-ic.png") no-repeat scroll 0 0;
	float: left;
	height: 17px;
	margin: 0 5px 0 0;
	width: 14px;
}
.navbar-nav > li:hover, .navbar-nav > li.active {
	background: none;
}
.navbar-nav > li:first-child {
	margin-left: 0;
}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
	background: url(/assets/figure/slider-arwrt.png) no-repeat scroll 0 0;
}
.carousel-control .icon-prev, .carousel-control .glyphicon-chevron-left {
	background: url(/assets/figure/slider-arwlt.png) no-repeat scroll 0 0;
}
.heading-text {
	background: url(/assets/figure/heading-bdr.png) repeat-x scroll left bottom;
	padding-bottom: 15px;
	display: inline-block;
	position: relative;
	text-transform: uppercase;
}
.heading-text:after {
	content: "";
	background-color: #1f3488;
	position: absolute;
	left: 50%;
	width: 30px;
	height: 8px;
	margin-left: -15px;
	bottom: -2px;
}
.cnt-bx-divide {
	padding: 0px 0px 40px 0px;
}
.welcome-img {
	padding: 0 30px;
}
.welcome-img img {
	max-width: 100%;
}
p {
	margin-bottom: 20px;
}
.marg-btm30 {
	margin-bottom: 30px;
}
.gry-bx-holder {
	background-color: #f3f3f3;
}
.hnewsimg {
	overflow: hidden;
	position: relative;
	margin-bottom: 15px;
}
.hnewsimg img {
	max-width: 100%;
}
.btn-white-md, .btn-white-xs, .btn-white-lg, .btn-blue-md, .btn-blue-xs, .btn-blue-lg, .btn-skyblue-md, .btn-skyblue-xs, .btn-skyblue-lg {
	display: inline-block;
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	transition: background-color 0.5s ease;
	-moz-transition: background-color 0.5s ease;
	-webkit-transition: background-color 0.5s ease;
}
.btn-white-xs, .btn-blue-xs, .btn-skyblue-xs {
	padding: 8px 15px;
}
.btn-white-md, .btn-blue-md, .btn-skyblue-md {
	padding: 10px 35px;
}
.btn-white-lg, .btn-blue-lg, .btn-skyblue-lg {
	padding: 12px 35px;
}
.btn-white-md, .btn-white-xs, .btn-white-lg {
	background-color: #fff;
	border: 1px solid #dbdbdb;
	color: #1f3488;
	-webkit-box-shadow: 0 10px 30px 0 #CFCFCF;
	box-shadow: 0 10px 30px 0 #CFCFCF;
}
.btn-skyblue-md, .btn-skyblue-xs, .btn-skyblue-lg {
	border: 1px solid #00b6e4;
}
.btn-skyblue-md, .btn-skyblue-xs, .btn-skyblue-lg {
	background-color: #00b6e4;
	float: left;
	color: #fff;
}
.btn-white-md .btnarwmd, .btn-white-xs .btnarwmd, .btn-white-lg .btnarwmd {
	width: 0;
	height: 0;
	float: right;
}
.btn-white-md .btnarwmd, .btn-skyblue-md .btnarwmd, .btn-blue .btnarwmd {
	border-bottom: 6px solid transparent;
	border-top: 6px solid transparent;
	height: 0;
	margin: 5px 0 0 10px;
	width: 0;
}
.btn-white-md .btnarwmd {
	border-left: 6px solid #00b6e4;
}
.btn-white-md .btnarwmd, .btn-blue-md .btnarwmd {
	border-left: 6px solid #fff;
}
.btn-white-md:hover, .btn-white-xs:hover, .btn-white-lg:hover {
	background-color: #1a2c75;
	color: #fff;
	border-color: #1a2c75;
}
.btn-skyblue-md, .btn-skyblue-xs, .btn-skyblue-lg {
	background-color: #00b6e4;
}
.btn-skyblue-md:hover, .btn-skyblue-xs:hover, .btn-skyblue-lg:hover {
	background-color: #1f3488;
	border-color: #00b6e4;
}
.ftr-clmn .btn-skyblue-md {
	-webkit-box-shadow: 0 10px 30px 0 #0b184d;
	box-shadow: 0 10px 30px 0 #0b184d;
}
/* Flashing */
.news-holder figure:hover img {
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}
@-webkit-keyframes flash {
 0% {
 opacity: .4;
}
 100% {
 opacity: 1;
}
}
@keyframes flash {
 0% {
 opacity: .4;
}
 100% {
 opacity: 1;
}
}
.map-holder {
	overflow: hidden;
	padding-bottom: 26.25%;
	position: relative;
	height: 0;
}
.map-holder iframe {
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	position: absolute;
}
.footer {
	background: url(/assets/figure/ftr-bg.jpg) no-repeat scroll 0 0;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	padding: 40px 0;
	color: #fff;
	position: relative;
}
.ftr-logo {
	display: block;
	margin-bottom: 15px;
}
.ftr-logo img {
	max-width: 100%;
}
.ftr-clmn2 {
	padding-top: 20px;
}
.ftr-heading {
	text-transform: uppercase;
}
.ftr-nav li a {
	color: #fff;
	display: block;
	padding-bottom: 2px;
	background: url("/assets/figure/bullet.png") no-repeat scroll left center;
	padding-left: 15px;
}
.ftr-nav li {
	border-bottom: 1px solid #3b50a5;
	padding-top: 10px;
}
.ftr-nav li:last-child {
	border-bottom: none;
}
.ftr-nav li a:hover {
	color: #00b6e4
}
.tp-scroll {
	bottom: 40px;
	left: auto;
	position: absolute;
	right: 30px;
}
.header {
	background-color: #fff;
	transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
}
.header.sticky > .headerinr {
	display: none;
}
.header.sticky {
	padding-top: 0;
	border-top: none;
}
.header.sticky .navbar-default {
	margin-top: 0;
	position: fixed;
	width: 100%;
	z-index: 9999;
}
.header.sticky .navbar-default {
	background-color: rgba(31,52,136, 0.95)
}
.ftr-clmn2 img {
	max-width: 100%;
}
