/*768 Start Here*/
@media (min-width:768px) {
.header {
	padding-top: 15px;
}
.footer {
	min-height: 490px;
}
.login-sec {
	float: right;
}
}
/*768 End Here*/

/*767 Start Here*/
@media (max-width:767px) {
.site-logo {
	width: 40%;
}
.logo-rt {
	width: 60%;
	margin: 18px 0 0;
}
.header {
	padding-top: 5px;
}
.site-logo, .logo-rt {
	padding: 0 15px;
}
.site-logo img, .logo-rt img {
	max-width: 100%;
}
.header.navbar {
	margin-top: 5px !important;
}
.header.sticky .navbar-default {
	margin-top: 0 !important;
}
.news-holder {
	margin-bottom: 30px;
}
.footer {
	min-height: 300px;
}
.tp-scroll {
	top: 60px;
}
.login-sec {
	float: left;
	margin-left: 15px;
}
}
/*767 End Here*/

/*768 and 991 Start Here*/
@media (min-width:768px) and (max-width:991px) {
.site-logo {
	width: 40%;
}
.site-logo img,  .logo-rt img {
	max-width: 100%;
}
.logo-rt {
	width: 60%;
	padding-left: 20px;
	margin: 10px 0 0;
}
.navbar-nav > li {
	background-image: none;
}
.navbar-nav > li > a {
	padding: 18px 15px !important;
}
.ftr-small-device {
	padding-left: 33%;
}
}
/*768 and 991 End Here*/

/*992 and 1199 Start Here*/
@media (min-width:992px) and (max-width:1199px) {
.navbar-nav > li {
	background: url(../figure/bullet.png) no-repeat scroll left center;
}
.navbar-nav > li {
	margin: 0 10px;
}
.ftr-small-device {
	padding-left: 33%;
}
}
/*992 and 1199 End Here*/
/*1200*/
@media (min-width:1200px) {
.navbar-nav > li:hover::after, .navbar-nav > li.active::after, .navbar-default .navbar-nav > li > a:focus::after {
	background: url("../figure/menu-arw.png") no-repeat scroll 0 0;
	content: "";
	height: 5px;
	left: 50%;
	margin-left: -8px;
	position: absolute;
	width: 15px;
}
.navbar-nav > li {
	background: url(../figure/bullet.png) no-repeat scroll left center;
}
.navbar-nav > li {
	margin: 0 10px;
}
}
/*1200*/
