<section id="main-content" class="animated fadeInRight ng-scope">
    <div class="row no-padding auto-margin">
        <div class="col-md-12 col-lg-12 no-padding auto-margin">
            <div class="row  no-padding auto-margin">
                <div class="col-md-12  no-padding auto-margin">
                    <div class="panel panel-default no-margin">
                        <div class="panel-body no-padding auto-margin">
                            <div class="row no-padding auto-margin">
                                 <form class="form-horizontal" name="frmAddFinancialYear" id="frmAddFinancialYear">
                                    <div class="form-group  no-margin">
                                        <div>
                                            <label for="txtfinancialyearName" class="label-adjust">Financial Year</label>
                                            <input type="text" class="form-control no-padding width-95 validate[required]" id="txtfinancialyearName" name="txtfinancialyearName" data-ng-model="financialyear.name" ng-maxlength="100"/>
                                        </div>
                                    </div>
                                    <div class="form-group  no-margin">
                                        <label for="txtdescription" class="label-adjust">Description</label> 
                                        <textarea  rows="6" class="form-control no-padding width-95  validate[required]" id="txtdescription" name="txtdescription" data-ng-model="financialyear.description"></textarea>
                                    </div>
                                </form>                           
                            </div>                           
                        </div>
                        <div class="panel-body">
                            <div class="row no-padding auto-margin">
                                <div class="row no-padding auto-margin">
                                    <div class="dialog-buttons dialog-footer text-right">        
                                        <button type="button" class="btn btn-danger btn-sm" ng-click="CloseFinancialYearWindow()">Cancel</button>
                                        <button type="button" class="btn btn-success btn-sm" data-ng-click="Submit()">&#160;Save&#160;</button>
                                    </div>            
                                </div>                             
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>