<section id="main-content" class="animated fadeInRight ng-scope">
    <div class="row no-padding auto-margin">
        <div class="col-md-12 col-lg-12 no-padding auto-margin">
            <div class="row  no-padding auto-margin">
                <div class="col-md-12  no-padding auto-margin">
                    <div class="panel panel-default no-margin">
                        <div class="panel-body no-padding auto-margin">
                            <div class="row no-padding auto-margin">
                                 <form class="form-horizontal" name="frmEditCountries" id="frmEditCountries">
                                    <div class="form-group  no-margin">
                                        <div>
                                            <label for="txtname" class="label-adjust">Country Name</label>
                                            <input type="text" class="form-control no-padding width-95  validate[required]" id="txtname" name="txtname" data-ng-model="editcountries.name" ng-maxlength="100" />
                                        </div>
                                    </div>
                                    <div class="form-group  no-margin">
                                        <div>
                                            <label for="txtshortName" class="label-adjust">Short Name</label>
                                            <input type="text" class="form-control no-padding width-95  validate[required]" id="txtshortName" name="txtshortName" data-ng-model="editcountries.shortName" ng-maxlength="45" />
                                        </div>
                                    </div> 
                                    <div class="form-group  no-margin">
                                        <div>
                                            <label for="txtcountryCode" class="label-adjust">Country Code</label>
                                            <input type="text" class="form-control  no-padding width-95  validate[required]" id="txtcountryCode" name="txtcountryCode" data-ng-model="editcountries.countryCode" ng-maxlength="10"/>
                                        </div>
                                    </div>  
                                    <div class="form-group  no-margin">
                                        <label for="txtdescription" class="label-adjust">Description</label> 
                                        <textarea rows="5" class="form-control no-padding width-95  validate[required]" id="txtdescription" name="txtdescription" data-ng-model="editcountries.description"></textarea>                       
                                    </div> 
                                </form>                           
                            </div>                           
                        </div>
                        <div class="panel-body">
                            <div class="row no-padding auto-margin">
                                <div class="row no-padding auto-margin">
                                    <div class="dialog-buttons dialog-footer text-right">        
                                        <button type="button" class="btn btn-danger btn-sm" ng-click="CloseEditCountriesWindow()">Cancel</button>
                                        <button type="button" class="btn btn-success btn-sm" data-ng-click="Update()">&#160;Update&#160;</button>
                                    </div>            
                                </div>                             
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>