<section id="main-content" class="animated fadeInRight ng-scope">
    <div class="row no-padding auto-margin">
        <div class="col-md-12 col-lg-12 no-padding auto-margin">
            <div class="row  no-padding auto-margin">
                <div class="col-md-12  no-padding auto-margin">
                    <div class="panel panel-default no-margin">
                        <div class="panel-body no-padding auto-margin">
                            <div class="row no-padding auto-margin">
                                 <form class="form-horizontal" name="frmAddCommunities" id="frmAddCommunities">
                                    <div class="form-group no-margin">
                                        <div>
                                            <label for="txtCommunitiesName" class="label-adjust">Communities Name</label>
                                            <input type="text" class="k-input width-95  validate[required]" id="txtCommunitiesName" name="txtCommunitiesName"
                                                   data-ng-model="communities.name" ng-maxlength="100"/>
                                        </div>
                                    </div>
                                    <div class="form-group no-margin">
                                        <label for="txtDescritpion" class="label-adjust">Description</label> 
                                        <textarea rows="5" class="k-input width-95  validate[required]" id="txtDescritpion" name="txtDescritpion" data-ng-model="communities.description"></textarea>                       
                                    </div> 
                                </form>                           
                            </div>                           
                        </div>
                        <div class="panel-body">
                            <div class="row no-padding auto-margin">
                                <div class="row no-padding auto-margin">
                                    <div class="dialog-buttons dialog-footer text-right">        
                                        <button type="button" class="btn btn-danger btn-sm" ng-click="CloseAddCommunitiesWindow()">Cancel</button>
                                        <button type="button" class="btn btn-success btn-sm" data-ng-click="Submit()">&#160;Save&#160;</button>
                                    </div>            
                                </div>                             
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>