<section id="main-content" class="animated fadeInRight">
    <!-- pass in the variable if our form is valid or invalid -->
    <form name="frmAddAuditExpenditure" id="frmAddAuditExpenditure">
        <div class="row">
            <div class="col-md-12  col-lg-12">
              <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group no-margin display-none">
                        <div>
                            <label for="selRounds"  class="label-adjust">Round</label>
                            <select name="selRounds" class="k-input width-95 validate[required]" ng-model="defaultrounds" ng-options="obj.text for obj in rounds track by obj.value" >
                            </select>
                        </div>
                    </div>

                    <div class="form-group no-margin display-none">
                        <div>
                            <label for="selDistrict"  class="label-adjust">District</label>
                            <select name="selDistrict" class="k-input width-95 validate[required]" ng-model="defaultdistricts" ng-options="obj.text for obj in districts track by obj.value">
                            </select>
                        </div>                     
                    </div> 

                    <div class="form-group no-margin display-none">
                        <div>
                            <label for="selBlock"  class="label-adjust">Block</label>
                            <select name="selBlock" class="k-input width-95 validate[required]" ng-model="defaultblocks" ng-options="obj.text for obj in blocks track by obj.value">
                            </select>
                        </div>                     
                    </div>   

                    <div class="form-group no-margin display-none">
                        <div>
                            <label for="selVillage"  class="label-adjust">Village</label>
                            <select name="selVillage" class="k-input width-95 validate[required]" ng-model="defaultvillages" ng-options="obj.text for obj in villages track by obj.value">
                            </select>
                        </div>                     
                    </div>

                    <!-- No Of Village Panchayats Visited By BRP -->
                    <div class="form-group no-margin">
                        <div>
                            <label for="txttotalPopulation" class="label-adjust">Total Population</label>
                            <input type="number" class="k-input width-95 validate[required]" id="txttotalPopulation" name="txttotalPopulation"
                                   data-ng-model="sgm.totalPopulation" 
                                  />
                        </div>
                    </div>

                    <div class="form-group no-margin">
                        <div>
                            <label for="txttotalFamiliesInVpts" class="label-adjust">Total no.of families in Village Pts</label>
                            <input type="number" class="k-input width-95 validate[required]" id="txttotalFamiliesInVpts" name="txttotalFamiliesInVpts"
                                   data-ng-model="sgm.totalFamiliesInVpts" 
                                  />
                        </div>
                    </div>

                    <div class="form-group no-margin">
                        <div>
                            <label for="txtnoOfFamiliesRegistered" class="label-adjust">No.of families registered</label>
                            <input type="number" class="k-input width-95 validate[required]" id="txtnoOfFamiliesRegistered" name="txtnoOfFamiliesRegistered"
                                   data-ng-model="sgm.noOfFamiliesRegistered" 
                                  />
                        </div>
                    </div>

                    <div class="form-group no-margin">
                        <div>
                            <label for="txttotalJcsInVpts" class="label-adjust">No.of JCs in Village panchayat</label>
                            <input type="number" class="k-input width-95 validate[required]" id="txttotalJcsInVpts" name="txttotalJcsInVpts"
                                   data-ng-model="sgm.totalJcsInVpts" 
                                  />
                        </div>
                    </div>

                    <div class="form-group no-margin">
                        <div>
                            <label for="txtnoOfPplAttentedSgs" class="label-adjust">No.of people attended SGS</label>
                            <input type="number" class="k-input width-95 validate[required]" id="txtnoOfPplAttentedSgs" name="txtnoOfPplAttentedSgs"
                                   data-ng-model="sgm.noOfPplAttentedSgs" 
                                  />
                        </div>
                    </div>

                    <div class="form-group no-margin">
                        <div>
                            <label for="txtnameOfPersonHeadSgs" class="label-adjust">Name of the person who headed in SGS</label>
                            <input type="text" ng-maxlength="150"  class="k-input width-95 validate[required]" id="txtnameOfPersonHeadSgs" name="txtnameOfPersonHeadSgs"
                                   data-ng-model="sgm.nameOfPersonHeadSgs" 
                                  />
                        </div>
                    </div>

                    <div class="form-group no-margin">
                        <div>
                            <label for="txtnameOfPersonRecordedMinutes" class="label-adjust">Name of the person who recorded SGS minutes</label>
                            <input type="text" ng-maxlength="150"  class="k-input width-95 validate[required]" id="txtnameOfPersonRecordedMinutes" name="txtnameOfPersonRecordedMinutes"
                                   data-ng-model="sgm.nameOfPersonRecordedMinutes" 
                                  />
                        </div>
                    </div>

                    <div class="form-group no-margin">
                        <div>
                            <label for="txttotalParasPlacedInSgs" class="label-adjust">Total no. of paras placed in SGS</label>
                            <input type="number" class="k-input width-95 validate[required]" id="txttotalParasPlacedInSgs" name="txttotalParasPlacedInSgs"
                                   data-ng-model="sgm.totalParasPlacedInSgs" 
                                  />
                        </div>
                    </div>

                    <div class="form-group no-margin">
                        <div>
                            <label for="txtparasSetteled" class="label-adjust">Paras settled in SGS</label>
                            <input type="number" class="k-input width-95 validate[required]" id="txtparasSetteled" name="txtparasSetteled"
                                   data-ng-model="sgm.parasSetteled" 
                                  />
                        </div>
                    </div>

                    <div class="form-group no-margin">
                        <div>
                            <label for="txtamountRecoveredDuringSgs" class="label-adjust">Amount recovered during SGS</label>
                            <input type="number" class="k-input width-95 validate[required]" id="txtamountRecoveredDuringSgs" name="txtamountRecoveredDuringSgs"
                                   data-ng-model="sgm.amountRecoveredDuringSgs" 
                                  />
                        </div>
                    </div>
                    <div class="form-group no-margin">
                        <div>
                            <label for="txtsaReportsUploaded" class="label-adjust">SA reports uploaded in MGNREGA website</label>
                            <input type="checkbox" class="k-input width-95" id="txtsaReportsUploaded" name="txtsaReportsUploaded"
                                   data-ng-model="sgm.saReportsUploaded" 
                                  />
                        </div>
                    </div>
                    <div class="form-group no-margin">
                        <div>
                            <label for="txtatrsUploaded" class="label-adjust">ATRs uploaded in MGNREGA website</label>
                            <input type="checkbox" class="k-input width-95 " id="txtatrsUploaded" name="txtatrsUploaded"
                                   data-ng-model="sgm.atrsUploaded" 
                                  />
                        </div>
                    </div>
                </div>
            </div>

             <div class="panel panel-default">
                <div class="panel-body col-md-11">
                    <div class="form-group no-margin text-right">
                        <button type="button" class="btn btn-danger btn-sm" ng-click="CloseAuditWindow()">Cancel</button>
                        <button type="button" class="btn btn-success btn-sm" data-ng-click="Submit()">&#160;Save&#160;</button>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </form>    
</section>