<section id="main-content" class="animated fadeInRight ng-scope">
    <div class="row no-padding auto-margin">
        <div class="col-md-12 col-lg-12 no-padding auto-margin">
            <div class="row  no-padding auto-margin">
                <div class="col-md-12  no-padding auto-margin">
                    <div class="panel panel-default no-margin">
                        <div class="panel-body no-padding auto-margin">
                            <div class="row no-padding auto-margin">
                                 <form class="form-horizontal" name="frmEditBloodGroup" id="frmEditBloodGroup">
                                    <div class="form-group  no-margin">
                                        <div>
                                            <label for="txtBloodGroupName" class="label-adjust">Blood Group Name</label>
                                            <input type="text" class="k-input width-95  validate[required]" id="txtBloodGroupName" name="txtBloodGroupName" data-ng-model="editbloodgroups.name" ng-maxlength="100"/>
                                        </div>
                                    </div>
                                    <div class="form-group  no-margin">
                                        <label for="txtCategory" class="label-adjust">Description</label> 
                                        <textarea class="k-input width-95  validate[required]" id="txtDescription" name="txtDescription"
                                               data-ng-model="editbloodgroups.description"></textarea>                       
                                    </div>
                                </form>                           
                            </div>                           
                        </div>
                        <div class="panel-body">
                            <div class="row no-padding auto-margin">
                                <div class="row no-padding auto-margin">
                                    <div class="dialog-buttons dialog-footer text-right">        
                                        <button type="button" class="btn btn-danger btn-sm" ng-click="CloseEditBloodGroupWindow()">Cancel</button>
                                        <button type="button" class="btn btn-success btn-sm" data-ng-click="Update()">&#160;Update&#160;</button>
                                    </div>            
                                </div>                             
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>