<div class="dialog-header">
    <div class="dialog-title">{{ modelDialogTitle.edit }}</div>
</div>
<form class="form-horizontal" name="frmAddAuditDeviation" id="frmAddAuditDeviation">
                                    <div class="form-group no-margin display-none">
                                        <div>
                                            <label for="selRounds"  class="label-adjust">Round</label>
                                            <select name="selRounds" class="k-input width-95 validate[required]" ng-model="defaultrounds" ng-options="obj.text for obj in rounds track by obj.value" >
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group no-margin display-none">
                                        <div>
                                            <label for="selDistrict"  class="label-adjust">District</label>
                                            <select name="selDistrict" class="k-input width-95 validate[required]" ng-model="defaultdistricts" ng-options="obj.text for obj in districts track by obj.value">
                                            </select>
                                        </div>                     
                                    </div>     
                                    <div class="form-group no-margin display-none">
                                        <div>
                                            <label for="selBlock"  class="label-adjust">Block</label>
                                            <select name="selBlock" class="k-input width-95 validate[required]" ng-model="defaultblocks" ng-options="obj.text for obj in blocks track by obj.value">
                                            </select>
                                        </div>                     
                                    </div>     
                                    <div class="form-group no-margin display-none">
                                        <div>
                                            <label for="selVillage"  class="label-adjust">Village</label>
                                            <select name="selVillage" class="k-input width-95 validate[required]" ng-model="defaultvillages" ng-options="obj.text for obj in villages track by obj.value">
                                            </select>
                                        </div>                     
                                    </div>
                                    <div class="form-group no-margin">
                                        <div>
                                            <label for="txttotalWorksExecuted" class="label-adjust">Date of Joint Sitting</label>
                                            <input type="text" class="form-control no-padding width-95 validate[required,custom[onlyNumberSp]]" id="txttotalWorksExecuted" name="txttotalWorksExecuted"
                                                   data-ng-model="mgnrega.totalWorksExecuted" ng-maxlength="50" 
                                                  />
                                        </div>
                                    </div>
                                    <div class="form-group no-margin">
                                        <div>
                                            <label for="txttotalParasCount" class="label-adjust">Total Paras No</label>
                                            <input type="text" class="form-control no-padding width-95 validate[required,custom[onlyNumberSp]]" id="txttotalParasCount" name="txttotalParasCount"
                                                   data-ng-model="edithlcommittee.totalParasCount" ng-maxlength="50" 
                                                  />
                                        </div>
                                    </div>

                                    <div class="form-group no-margin">
                                        <div>
                                            <label for="txttotalParasAmt" class="label-adjust">Total Paras Amount</label>
                                            <input type="text" class="form-control no-padding width-95 validate[required,custom[onlyNumberSp]]" id="txttotalParasAmt" name="txttotalParasAmt"
                                                   data-ng-model="edithlcommittee.totalParasAmt" ng-maxlength="50" 
                                                  />
                                        </div>
                                    </div>

                                    <div class="form-group no-margin">
                                        <div>
                                            <label for="txtparaSettledDuringDSCount" class="label-adjust">Paras Settled during GS No</label>
                                            <input type="text" class="form-control no-padding width-95 validate[required,custom[onlyNumberSp]]" id="txtparaSettledDuringDSCount" name="txtparaSettledDuringDSCount"
                                                   data-ng-model="edithlcommittee.paraSettledDuringDSCount" ng-maxlength="50" 
                                                  />
                                        </div>
                                    </div>

                                    <div class="form-group no-margin">
                                        <div>
                                            <label for="txtparaSettledDuringDSAmt" class="label-adjust">Paras Settled during GS Amount</label>
                                            <input type="text" class="form-control no-padding width-95 validate[required,custom[onlyNumberSp]]" id="txtparaSettledDuringDSAmt" name="txtparaSettledDuringDSAmt"
                                                   data-ng-model="edithlcommittee.paraSettledDuringDSAmt" ng-maxlength="50" 
                                                  />
                                        </div>
                                    </div>

                                    <div class="form-group no-margin">
                                        <div>
                                            <label for="txtparaSettledDuringHLCCount" class="label-adjust">Paras settled in HLC No</label>
                                            <input type="text" class="form-control no-padding width-95 validate[required,custom[onlyNumberSp]]" id="txtparaSettledDuringHLCCount" name="txtparaSettledDuringHLCCount"
                                                   data-ng-model="edithlcommittee.paraSettledDuringHLCCount" ng-maxlength="50" 
                                                  />
                                        </div>
                                    </div>

                                    <div class="form-group no-margin">
                                        <div>
                                            <label for="txtparaSettledDuringHLCAmt" class="label-adjust">Paras settled in HLC Amount</label>
                                            <input type="text" class="form-control no-padding width-95 validate[required,custom[onlyNumberSp]]" id="txtparaSettledDuringHLCAmt" name="txtparaSettledDuringHLCAmt"
                                                   data-ng-model="edithlcommittee.paraSettledDuringHLCAmt" ng-maxlength="50" 
                                                  />
                                        </div>
                                    </div>

                                    <div class="form-group no-margin">
                                        <div>
                                            <label for="txtpendingParasCount" class="label-adjust">Pending Paras No</label>
                                            <input type="text" class="form-control no-padding width-95 validate[required,custom[onlyNumberSp]]" id="txtpendingParasCount" name="txtpendingParasCount"
                                                   data-ng-model="edithlcommittee.pendingParasCount" ng-maxlength="50" 
                                                  />
                                        </div>
                                    </div>

                                    <div class="form-group no-margin">
                                        <div>
                                            <label for="txtpendingParasAmt" class="label-adjust">Pending Paras Amount</label>
                                            <input type="text" class="form-control no-padding width-95 validate[required,custom[onlyNumberSp]]" id="txtpendingParasAmt" name="txtpendingParasAmt"
                                                   data-ng-model="edithlcommittee.pendingParasAmt" ng-maxlength="50" 
                                                  />
                                        </div>
                                    </div>

                                    <div class="form-group no-margin">
                                        <div>
                                            <label for="txtamountRecovered" class="label-adjust">Amount Recovered</label>
                                            <input type="text" class="form-control no-padding width-95 validate[required,custom[onlyNumberSp]]" id="txtamountRecovered" name="txtamountRecovered"
                                                   data-ng-model="edithlcommittee.amountRecovered" ng-maxlength="50" 
                                                  />
                                        </div>
                                    </div>

                                    <div class="form-group no-margin">
                                        <div>
                                            <label for="txtamountToBeRecovered" class="label-adjust">Amount to be Recovered</label>
                                            <input type="text" class="form-control no-padding width-95 validate[required,custom[onlyNumberSp]]" id="txtamountToBeRecovered" name="txtamountToBeRecovered"
                                                   data-ng-model="edithlcommittee.amountToBeRecovered" ng-maxlength="50" 
                                                  />
                                        </div>
                                    </div>
        <button type="button" class="btn btn-danger btn-sm" ng-click="Cancel()">Cancel</button>
        <button type="button" class="btn btn-success btn-sm" data-ng-click="Update()">&#160;Save&#160;</button>
    </div>
                                 
</form>