<section id="main-content" class="animated fadeInRight ng-scope">
    <div class="row no-padding auto-margin">
        <div class="col-md-12 col-lg-12 no-padding auto-margin">
            <div class="row  no-padding auto-margin">
                <div class="col-md-12  no-padding auto-margin">
                    <div class="panel panel-default no-margin">
                        <div class="panel-body no-padding auto-margin">
                            <div class="row no-padding auto-margin">
                                 <form class="form-horizontal" name="frmaddBlocks" id="frmaddBlocks">
                                    <div class="form-group no-margin">
                                        <div>
                                            <label for="selDistricts"  class="label-adjust">Districts</label>
                                            <select name="selDistricts" id="selDistricts" class="k-input width-95 validate[required]" ng-model="defaultDistricts" ng-options="obj.text for obj in Districts track by obj.value" ng-change="OnSelectedValue(defaultDistricts)">
                                            </select>
                                        </div>
                                    </div> 
                                    <div class="form-group no-margin">
                                        <div>
                                            <label for="txtblockName" class="label-adjust">Block Name</label>
                                            <input type="text" class="k-input width-95 validate[required]" id="txtblockName" name="txtblockName"
                                                   data-ng-model="block.blockName" ng-maxlength="100"/>
                                        </div>
                                    </div>                
                                    <div class="form-group no-margin">
                                        <label for="txtdescription" class="label-adjust">Description</label> 
                                        <textarea rows="6" class="k-input width-95  validate[required]" id="txtdescription" name="txtdescription"
                                               data-ng-model="block.description"></textarea>                       
                                    </div> 
                                </form>                           
                            </div>                           
                        </div>
                        <div class="panel-body">
                            <div class="row no-padding auto-margin">
                                <div class="row no-padding auto-margin">
                                    <div class="dialog-buttons dialog-footer text-right">        
                                        <button type="button" class="btn btn-danger btn-sm" ng-click="CloseaddBlockWindow()">Cancel</button>
                                        <button type="button" class="btn btn-success btn-sm" data-ng-click="Submit()">&#160;Save&#160;</button>
                                    </div>            
                                </div>                             
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>