<section id="main-content" class="animated fadeInRight">
    <!-- pass in the variable if our form is valid or invalid -->
    <form name="frmEditAuditMgnrega" id="frmEditAuditMgnrega">
        <div class="row">
            <div class="col-md-12  col-lg-12">
              <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group no-margin display-none">
                        <div>
                            <label for="selRounds"  class="label-adjust">Round</label>
                            <select name="selRounds" class="k-input width-95 validate[required]" ng-model="defaultrounds" ng-options="obj.text for obj in rounds track by obj.value" >
                            </select>
                        </div>
                    </div>
                    <div class="form-group no-margin display-none">
                        <div>
                            <label for="selDistrict"  class="label-adjust">District</label>
                            <select name="selDistrict" class="k-input width-95 validate[required]" ng-model="defaultdistricts" ng-options="obj.text for obj in districts track by obj.value">
                            </select>
                        </div>                     
                    </div>     
                    <div class="form-group no-margin display-none">
                        <div>
                            <label for="selBlock"  class="label-adjust">Block</label>
                            <select name="selBlock" class="k-input width-95 validate[required]" ng-model="defaultblocks" ng-options="obj.text for obj in blocks track by obj.value">
                            </select>
                        </div>                     
                    </div>     
                    <div class="form-group no-margin display-none">
                        <div>
                            <label for="selVillage"  class="label-adjust">Village</label>
                            <select name="selVillage" class="k-input width-95 validate[required]" ng-model="defaultvillages" ng-options="obj.text for obj in villages track by obj.value">
                            </select>
                        </div>                     
                    </div>

                    <div class="form-group no-margin">
                        <div>
                            <label for="txttotalWorksExecutedDuringFY" class="label-adjust">Total works executed during FY</label>
                            <input  type="number" class="k-input width-95 validate[required]" id="txttotalWorksExecutedDuringFY" name="txttotalWorksExecutedDuringFY"
                                   data-ng-model="editmgnrega.totalWorksExecutedDuringFY"  
                                  />
                        </div>
                    </div>

                    <div class="form-group no-margin">
                        <div>
                            <label for="txtnoOfWorksCompleted" class="label-adjust">No. of  works Completed</label>
                            <input  type="number" class="k-input width-95 validate[required]" id="txtnoOfWorksCompleted" name="txtnoOfWorksCompleted"
                                   data-ng-model="editmgnrega.noOfWorksCompleted"  
                                  />
                        </div>
                    </div>

                    <div class="form-group no-margin">
                        <div>
                            <label for="txtnoOfPendingWorks" class="label-adjust">No. of pending works</label>
                            <input  type="number" class="k-input width-95 validate[required]" id="txtnoOfPendingWorks" name="txtnoOfPendingWorks"
                                   data-ng-model="editmgnrega.noOfPendingWorks"  
                                  />
                        </div>
                    </div>

                    <div class="form-group no-margin">
                        <div>
                            <label for="txtunskilledWagesForCompletedWorks" class="label-adjust">Unskilled wages for compl. works</label>
                            <input  type="number" class="k-input width-95 validate[required]" id="txtunskilledWagesForCompletedWorks" name="txtunskilledWagesForCompletedWorks"
                                   data-ng-model="editmgnrega.unskilledWagesForCompletedWorks"  
                                  />
                        </div>
                    </div>

                    <div class="form-group no-margin">
                        <div>
                            <label for="txtskilledWagesForCompletedWorks" class="label-adjust">Skilled wages for compl. works</label>
                            <input  type="number" class="k-input width-95 validate[required]" id="txtskilledWagesForCompletedWorks" name="txtskilledWagesForCompletedWorks"
                                   data-ng-model="editmgnrega.skilledWagesForCompletedWorks"  
                                  />
                        </div>
                    </div>

                    <div class="form-group no-margin">
                        <div>
                            <label for="txtmaterialExpForCompletedWorks" class="label-adjust">Material exp for compl. works</label>
                            <input  type="number" class="k-input width-95 validate[required]" id="txtmaterialExpForCompletedWorks" name="txtmaterialExpForCompletedWorks"
                                   data-ng-model="editmgnrega.materialExpForCompletedWorks"  
                                  />
                        </div>
                    </div>

                    <div class="form-group no-margin">
                        <div>
                            <label for="txtadministrativeExpForCompletedWorks" class="label-adjust">Administrative exp for compl. works</label>
                            <input  type="number" class="k-input width-95 validate[required]" id="txtadministrativeExpForCompletedWorks" name="txtadministrativeExpForCompletedWorks"
                                   data-ng-model="editmgnrega.administrativeExpForCompletedWorks"  
                                  />
                        </div>
                    </div>

                    <div class="form-group no-margin">
                        <div>
                            <label for="txttotal" class="label-adjust">Total Exp. of Compl. works</label>
                            <input  type="number" class="k-input width-95" id="txttotal" name="txttotal"
                                    
                                  />
                        </div>
                    </div>

                    <div class="form-group no-margin">
                        <div>
                            <label for="txtnoOfCompletedWorksEvaluatedBySA" class="label-adjust">No. of compl. works evaluated by SA</label>
                            <input  type="number" class="k-input width-95 validate[required]" id="txtnoOfCompletedWorksEvaluatedBySA" name="txtnoOfCompletedWorksEvaluatedBySA"
                                   data-ng-model="editmgnrega.noOfCompletedWorksEvaluatedBySA"  
                                  />
                        </div>
                    </div>
                    
                    <div class="form-group no-margin">
                        <div>
                            <label for="txtexpIncurredForCompletedWorks" class="label-adjust">Exp. incurred for compl. works</label>
                            <input  type="number" class="k-input width-95 validate[required]" id="txtexpIncurredForCompletedWorks" name="txtexpIncurredForCompletedWorks"
                                   data-ng-model="editmgnrega.expIncurredForCompletedWorks"  
                                  />
                        </div>
                    </div>

                    <div class="form-group no-margin">
                        <div>
                            <label for="txtvalueOfCompletedWorksEvaluatedBySATeam" class="label-adjust">Value of compl. works as evaluated by SA team</label>
                            <input  type="number" class="k-input width-95 validate[required]" id="txtvalueOfCompletedWorksEvaluatedBySATeam" name="txtvalueOfCompletedWorksEvaluatedBySATeam"
                                   data-ng-model="editmgnrega.valueOfCompletedWorksEvaluatedBySATeam"  
                                  />
                        </div>
                    </div>

                    <div class="form-group no-margin">
                        <div>
                            <label for="txtdifference" class="label-adjust">Difference in value of compl.works</label>
                            <input  type="number" class="k-input  width-95" id="txtdifference" name="txtdifference"
                                     
                                  />
                        </div>
                    </div>

                    <div class="form-group no-margin">
                        <div>
                            <label for="txtnoOfOnGoingWorks" class="label-adjust">No of on-going works</label>
                            <input  type="number" class="k-input width-95 validate[required]" id="txtnoOfOnGoingWorks" name="txtnoOfOnGoingWorks"
                                   data-ng-model="editmgnrega.noOfOnGoingWorks"  
                                  />
                        </div>
                    </div>

                    <div class="form-group no-margin">
                        <div>
                            <label for="txtunSkilledWagesForOnGoingWorks" class="label-adjust">Unskilled wages for on-going Works</label>
                            <input  type="number" class="k-input width-95 validate[required]" id="txtunSkilledWagesForOnGoingWorks" name="txtunSkilledWagesForOnGoingWorks"
                                   data-ng-model="editmgnrega.unSkilledWagesForOnGoingWorks"  
                                  />
                        </div>
                    </div>

                    <div class="form-group no-margin">
                        <div>
                            <label for="txtskilledWagesForOnGoingWorks" class="label-adjust">Skilled wages for on-going  Works</label>
                            <input  type="number" class="k-input width-95 validate[required]" id="txtskilledWagesForOnGoingWorks" name="txtskilledWagesForOnGoingWorks"
                                   data-ng-model="editmgnrega.skilledWagesForOnGoingWorks"  
                                  />
                        </div>
                    </div>

                    <div class="form-group no-margin">
                        <div>
                            <label for="txtmaterialExpForOnGoingWorks" class="label-adjust">Material Exp for on-going Works</label>
                            <input   type="number" class="k-input width-95 validate[required]" id="txtmaterialExpForOnGoingWorks" name="txtmaterialExpForOnGoingWorks"
                                   data-ng-model="editmgnrega.materialExpForOnGoingWorks"  
                                  />
                        </div>
                    </div>

                    <div class="form-group no-margin">
                        <div>
                            <label for="txtadministrativeExpForOnGoingWorks" class="label-adjust">Administrative Exp for ongoing. Works</label>
                            <input  type="number" class="k-input width-95 validate[required]" id="txtadministrativeExpForOnGoingWorks" name="txtadministrativeExpForOnGoingWorks"
                                   data-ng-model="editmgnrega.administrativeExpForOnGoingWorks"  
                                  />
                        </div>
                    </div>

                    <div class="form-group no-margin">
                        <div>
                            <label for="txttotal1" class="label-adjust">Total Exp for on-going works</label>
                            <input  type="number" class="k-input width-95 validate[required]" id="txttotal1" name="txttotal1"
                                     
                                  />
                        </div>
                    </div>

                    <div class="form-group no-margin">
                        <div>
                            <label for="txtnoOfOnGoingWorksEvaluatedBySATeam" class="label-adjust">No. of on-going works evaluated by SA team</label>
                            <input  type="number" class="k-input width-95 validate[required]" id="txtnoOfOnGoingWorksEvaluatedBySATeam" name="txtnoOfOnGoingWorksEvaluatedBySATeam"
                                   data-ng-model="editmgnrega.noOfOnGoingWorksEvaluatedBySATeam"  
                                  />
                        </div>
                    </div>

                    <div class="form-group no-margin">
                        <div>
                            <label for="txtexpIncurredForOnGoingWorks" class="label-adjust">Exp. incurred for on-going works</label>
                            <input  type="number" class="k-input width-95 validate[required]" id="txtexpIncurredForOnGoingWorks" name="txtexpIncurredForOnGoingWorks"
                                   data-ng-model="editmgnrega.expIncurredForOnGoingWorks"  
                                  />
                        </div>
                    </div>

                    <div class="form-group no-margin">
                        <div>
                            <label for="txtvalueOfOnGoingWorksEvaluatedBySATeam" class="label-adjust">Value of on-going works evaluated by SA team</label>
                            <input  type="number" class="k-input width-95 validate[required]" id="txtvalueOfOnGoingWorksEvaluatedBySATeam" name="txtvalueOfOnGoingWorksEvaluatedBySATeam"
                                   data-ng-model="editmgnrega.valueOfOnGoingWorksEvaluatedBySATeam"  
                                  />
                        </div>
                    </div>

                    <div class="form-group no-margin">
                        <div>
                            <label for="txtdifference1" class="label-adjust">Difference in value for on-going works</label>
                            <input  type="number" class="k-input width-95" id="txtdifference1" name="txtdifference1"
                                  />
                        </div>
                    </div>

                </div>
            </div>

             <div class="panel panel-default">
                <div class="panel-body col-md-11">
                    <div class="form-group no-margin text-right">
                        <button type="button" class="btn btn-danger btn-sm" ng-click="CloseEditAuditMgnregaWindow()">Cancel</button>
                        <button type="button" class="btn btn-success btn-sm" data-ng-click="Update()">&#160;Save&#160;</button>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </form>    
</section>