<section id="main-content" class="animated fadeInRight">
    <!-- pass in the variable if our form is valid or invalid -->
    <form name="frmAddVrp" id="frmAddVrp">
        <div class="row">
            <div class="col-md-12  col-lg-12">
              <div class="panel panel-default">
                <div class="panel-body">

                    <div class="form-group no-margin display-none">
                        <div>
                            <label for="selRounds"  class="label-adjust">Round</label>
                            <select name="selRounds" class="k-input width-95 validate[required]" ng-model="defaultrounds" ng-options="obj.text for obj in rounds track by obj.value" >
                                <option value="">Choose Round</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group no-margin display-none">
                        <div>
                            <label for="selDistrict"  class="label-adjust">District</label>
                            <select name="selDistrict" class="k-input width-95 validate[required]" ng-model="defaultdistricts" ng-options="obj.text for obj in districts track by obj.value">
                                <option value="">Choose District</option>
                            </select>
                        </div>                     
                    </div>    

                    <div class="form-group no-margin display-none">
                        <div>
                            <label for="selBlock"  class="label-adjust">Block</label>
                            <select name="selBlock" class="k-input width-95 validate[required]" ng-model="defaultblocks" ng-options="obj.text for obj in blocks track by obj.value">
                                <option value="">Choose Block</option>
                            </select>
                        </div>                     
                    </div>     
                    
                    <div class="form-group no-margin">
                        <div>
                            <label for="txtauditVpName" class="label-adjust">Name</label>
                            <input type="text" class="k-input width-95 validate[required]" id="txtauditVpName" name="txtauditVpName" data-ng-model="vrp.name"/>
                        </div>
                    </div>

                    <div class="form-group no-margin">
                        <div>
                            <label for="selGender"  class="label-adjust">Male /Female</label>
                            <select name="selGender" class="k-input width-95 validate[required]" ng-model="defaultgender" ng-options="obj.text for obj in genders track by obj.value" ng-change="OnGenderSelectedValue(defaultgender)">
                                <option value="">Choose Gender</option>
                            </select>
                        </div>                     
                    </div>

                    <div class="form-group no-margin">
                        <div>
                            <label for="selVillage"  class="label-adjust">Panchayats</label>
                            <select name="selVillage" class="k-input width-95 validate[required]" ng-model="defaultvillages" ng-options="obj.text for obj in villages track by obj.value" ng-change="OnVillageSelectedValue(defaultvillages)">
                            <option value="">Choose Panchayats</option>
                            </select>
                        </div>                     
                    </div>

                    <div class="form-group no-margin">
                        <div>
                            <label for="txtJobCardNumber" class="label-adjust">Job Card Number</label>
                            <input type="text" class="k-input width-95 validate[required]" id="txtJobCardNumber" name="txtJobCardNumber"
                                   data-ng-model="vrp.jobCardNumber"/>
                        </div>
                    </div>

                    <div class="form-group no-margin">
                        <div>
                            <label for="txtGuardianName" class="label-adjust">Father / Husband Name</label>
                            <input type="text" class="k-input width-95 validate[required]" id="txtGuardianName" name="txtGuardianName"
                                   data-ng-model="vrp.guardianName"/>
                        </div>
                    </div>

                    <div class="form-group no-margin">
                        <div>
                            <label for="selQualifications"  class="label-adjust">Qualifications</label>
                            <select name="selQualifications" class="k-input width-95 validate[required]" ng-model="defaultqualifications" ng-options="obj.text for obj in qualifications track by obj.value" ng-change="OnQualificationSelectedValue(defaultqualifications)">
                                <option value="">Choose Qualifications</option>
                            </select>
                        </div>                     
                    </div>

                    <div class="form-group no-margin">
                        <div>
                            <label for="selCommunities"  class="label-adjust">Community</label>
                            <select name="selCommunities" class="k-input width-95 validate[required]" ng-model="defaultcommunities" ng-options="obj.text for obj in communities track by obj.value" ng-change="OnCommunitySelectedValue(defaultcommunities)">
                                <option value="">Choose Community</option>
                            </select>
                        </div>                     
                    </div>

                    <div class="form-group no-margin">
                        <div>
                            <label for="txtcontactNumber" class="label-adjust">Contact No</label>
                            <input type="text" class="k-input width-95 validate[required]" id="txtcontactNumber" name="txtcontactNumber"
                                   data-ng-model="vrp.contactNumber" 
                                  />
                        </div>
                    </div>

                    <div class="form-group no-margin">
                        <div>
                            <label for="txtTotalDays" class="label-adjust">No. of days worked</label>
                            <input  type="number"  min="0" class="k-input width-95 validate[required]" id="txtTotalDays" name="txtTotalDays"
                                   data-ng-model="vrp.totalDays" 
                                  />
                        </div>
                    </div>

                    <div class="form-group no-margin">
                        <div>
                                <label for="txtPaidAmount" class="label-adjust">Amount Paid</label> 
                            <input  type="number"  min="0" class="k-input width-95 validate[required]" id="txtPaidAmount" name="txtPaidAmount"
                                   data-ng-model="vrp.paidAmount" 
                                  />
                        </div>
                    </div>

                    <div class="form-group no-margin">
                        <div>
                            <label for="selPayments"  class="label-adjust">Amount Paid through</label>
                            <select name="selPayments" class="k-input width-95 validate[required]" ng-model="defaultpayments" ng-options="obj.text for obj in payments track by obj.value" ng-change="OnPaymentSelectedValue(defaultpayments)">
                                <option value="">Choose Mode</option>
                            </select>
                        </div>                     
                    </div>

                    <div class="form-group no-margin">
                        <div>
                            <label for="selBanks"  class="label-adjust">Bank name</label>
                            <select  ng-class="(defaultpayments.value !== 1) ? 'validate[required]' : ''" name="selBanks" id="selBanks" class="k-input width-95" ng-model="defaultbanks" ng-options="obj.text for obj in banks track by obj.value" ng-change="OnBankSelectedValue(defaultbanks)">
                                 <option value="">Choose Bank</option>
                            </select>
                        </div>                     
                    </div>

                    <div class="form-group no-margin">
                        <div>
                            <label for="txtaccountNumber" class="label-adjust">A/c No.</label>
                            <input ng-class="(defaultpayments.value !== 1) ? 'validate[required]' : ''" type="text" class="k-input width-95" id="accountNumber" name="accountNumber" id="accountNumber" data-ng-model="vrp.accountNumber" />
                        </div>
                    </div>
                    
                    <div class="form-group no-margin">
                        <div>
                            <label for="txtIFSCCode" class="label-adjust">IFS Code</label>
                            <input ng-class="(defaultpayments.value !== 1) ? 'validate[required]' : ''" type="text" class="k-input width-95 validate[required]" id="txtIFSCCode" name="txtIFSCCode" data-ng-model="vrp.ifscCode" />
                        </div>
                    </div>


                    <div class="form-group no-margin">
                        <div>
                            <label for="selGrade"  class="label-adjust">Grade</label>
                            <select  name="selGrade" class="k-input width-95 validate[required]" ng-model="defaultgrades" ng-options="obj.text for obj in grades track by obj.value"  ng-change="OnGradeSelectedValue(defaultgrades)">
                                <option value="">Choose Grade</option>
                            </select>
                        </div>                     
                    </div>
                </div>
            </div>

             <div class="panel panel-default">
                <div class="panel-body col-md-11">
                    <div class="form-group no-margin text-right">
                        <button type="button" class="btn btn-danger btn-sm" ng-click="CloseAddVrpAuditWindow()">Cancel</button>
                        <button type="button" class="btn btn-success btn-sm" data-ng-click="Submit()">&#160;Save&#160;</button>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </form>    
</section>