    <!-- Web Fonts  -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,700,600,500,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,500,300' rel='stylesheet' type='text/css'>
    
    <!-- Style -->    
    <link rel="stylesheet" href="assets/css/theme.css"> 
   
    <link rel="stylesheet" href="assets/css/skeleton.css"> 
    <link rel="stylesheet" href="assets/css/settings.css" type="text/css" media="screen"/> 
    <link rel="stylesheet" href="assets/css/theme-responsive.css">
    <link rel="stylesheet" href="assets/css/theme-elements.css"> 
    <link rel="stylesheet" href="assets/css/portal.css"> 
    <link rel="stylesheet" type="text/css" href="assets/styles/screen.css">
    <link rel="stylesheet" type="text/css" href="assets/styles/styles.css">
    <link rel="stylesheet" type="text/css" href="assets/styles/custom.css">
    <!-- Page Wrapper-->
    <section id="main-wrapper" class="theme-default">

       

        <!-- Page wrapper -->
        <header id="header" ng-include="'views/static/header.html'"></header>

        <!-- Content wraper -->
        <section class="main-content-wrapper">
            <!-- Main content view  -->
            <div ui-view></div>
        </section>
        <!-- /Content wraper-->

        <!-- Footer -->
        <div ng-include="'views/static/footer.html'"></div>

    </section>
    <script type="text/javascript" src="assets/libs/plugins.js"></script>
    <script type="text/javascript" src="assets/libs/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="assets/libs/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="assets/libs/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="assets/libs/jquery.appear.js"></script>
    <script type="text/javascript" src="assets/libs/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="assets/libs/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="assets/libs/home.js"></script>
    <script type="text/javascript" src="assets/libs/theme.js"></script>
     
     <script type="text/javascript">
        jQuery('.tp-scroll').click(function(){
            jQuery('html, body').animate({scrollTop:0}, 'slow');
        });
        $(window).scroll(function() {
        if ($(this).scrollTop() > 50){  
            $('header').addClass("sticky");
          }
          else{
            $('header').removeClass("sticky");
          }


        });
     

       
</script> 