    <!-- Style -->    
 
    <link rel="stylesheet" href="assets/css/screen.css"> 
    <link rel="stylesheet" href="assets/css/slider-css.css"> 
    <link rel="stylesheet" href="assets/css/styles.css"/> 
    <link rel="stylesheet" href="assets/css/custom.css">
    <!-- Page wrapper -->
    <header id="header" ng-include="'views/static/header.html'"></header>

    <main class="content-holder container">
        <!-- Main content view  -->
        <div ui-view>
            
        </div>
    </main>

    <div class="cfx"></div>
    <!-- Footer -->
    <div ng-include="'views/static/footer.html'"></div>