 <div role="main"   data-sasta-auto-slider  class="main no-top-padding">
	<div role="main" class="main no-top-padding">
    	<div class="jx-container">
            <div class="container padding-top-20"> 
                <div class="twelve columns jx-section-title-1">            
                    <div class="jx-title-position">
                        <div class="jx-title">Social Audit Society of Tamil Nadu - SASTA</div>
                    </div>
                    <div class="jx-subtitle">
					Mahatma Gandhi National Rural Employment Guarantee Act (MGNREGA) enacted on 5th September, 2005 was the first act to make ‘Social Audit’ mandatory. Social Audit is conducted audit conducted jointly by the Government of the people, especially by those people who are affected by, or are the intended beneficiaries of the scheme being audited. Official records are compared against ground realities by the primary stakeholders and the findings are presented in the public platform. The Social Audit process goes beyond accounting for the money that has been spent to examine whether the money was spent properly and has made a difference to people’s lives. Following the Social Audit, Government will take action on the findings and inform the stakeholders of the action taken. Social Audit will promote public participation, deter corruption, address grievances and improve the implementation of the scheme. 
					</div>  
					<div class="jx-title-position padding-top-20">
							<div class="jx-title">Section 17 of MGNREGA states</div>
					</div>
					<div class="jx-subtitle">
					17(1) The Gram Sabha shall monitor the execution of works within the Gram Panchayat.<br>
17(2) The Gram Sabha shall conduct regular social audits of all the projects under the Scheme taken up within the Gram Panchayat.<br>
17(3) The Gram Panchayat shall make available all relevant documents including the muster rolls, bills, vouchers, measurement books, copies of sanction orders and other connected books of account and papers of Gram Sabha for the purpose of conducting Social Audit.<br>
The Central Government in consultation with the Comptroller and Auditor General of India (CAG) published the MGNREGA Audit of Scheme Rules on 30th June 2011. These rules specified that an independent unit should be setup in each state that shall facilitate the Social Audit by Gram Sabhas. They also specified the process for conducting Social Audit and the obligations of different people in relation of the Social Audit.<br>
Following these guidelines, an independent society ‘Social Audit Society of Tamil Nadu’ (SASTA) was formed on 9th Jan 2013 and it has been facilitating conduct of Social Audit in the Village Panchayats of Tamil Nadu.
					</div> 	
				</div>
				
                <!-- Section Title -->
            <div class="four columns"> 
				 <div class="image"> <img src="assets/images/about.jpg" alt="teammember"> </div>
				<div class="padding-top-20"></div>				 
                <div class="jx-team-member-1">
                    <div class="two columns">    
                        <div class="image"><a href="#"><img src="assets/images/01.png" alt="teammember"></a>
                            <div class="team-content-box bgorange">
                                <div class="content-position">
                                <div class="name">Circulars</div>
                                </div>
                            </div>
                        </div> 
                    </div>          
                </div>
                <div class="jx-team-member-1">
                    <div class="two columns">    
                        <div class="image"><a href="#"><img src="assets/images/02.png" alt="teammember"></a>
                            <div class="team-content-box bgviolet">
                                <div class="content-position">
                                <div class="name">News</div>
                                </div>
                            </div>
                        </div> 
                    </div>          
                </div>
				<div class="jx-team-member-1">
                    <div class="two columns padding-top-20">    
                        <div class="image"><a href="#"><img src="assets/images/03.png" alt="teammember"></a>
                            <div class="team-content-box bggreen">
                                <div class="content-position">
                                <div class="name">Calendar 2015-2016</div>
                                </div>
                            </div>
                        </div> 
                    </div>          
                </div>
                <div class="jx-team-member-1">
                    <div class="two columns padding-top-20">    
                        <div class="image"><a href="#"><img src="assets/images/01.png" alt="teammember"></a>
                            <div class="team-content-box bgblue">
                                <div class="content-position">
                                <div class="name">Circulars</div>
                                </div>
                            </div>
                        </div> 
                    </div>          
                </div>
            </div>
        </div>        
    </div>
    </div>
</div>