<div class="page-title cfx">
    <div class="container cfx">
        <h3 class="clr-blue">Sasta Calenders</h3>
        <ol class="breadcrump">
            <li><a href="javascript:void(0)" ui-sref="ui.index">Home</a></li>
            <li class="active"><a href="javascript:void(0)">Sasta Calenders</a></li>
        </ol>
    </div>
</div>
<div class="container news-list-wrapper cfx">
    <div class="row cfx marg-btm30">
        <!--Gallery Left Start Here-->
        <div class="unit-lg-3 unit-sm-3 unit-md-3 unit-xs-12 gallery-holder gallery-list-bx">
            <div class="gallery-lt-inr">
                <div class="bs-example">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"> <a data-toggle="collapse" href="javascript:void(0)">Financial Year</a> </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <ul class="panel-body">
                                    <li ng-repeat="item in calenders">
                                        <label>
                                            <input type="checkbox"
                                                   name="achievment[]"
                                                   ng-disabled="item.checked"
                                                   data-ng-model="item.checked"
                                                   ng-click="UpdateCalenders(item.id);"/>
                                            {{item.financialName}}</label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Gallery Left End Here-->

        <!--Gallery Right Start Here-->
        <div class="unit-lg-8 unit-sm-8 unit-md-8 unit-xs-12 gallery-holder gallery-list-bx">
            <div class="row gallery-list-bx cfx">
                <div class="unit-lg-12">
                    <h3 class="page-heading-lt">SOCIAL AUDIT CALENDER <span ng-if="selectedcalender">{{(':'+selectedcalender||'')}}</span></h3>
                </div>
                <!--Gallery Thump Begin-->
                <div class="unit-lg-12">
                    <div class="unit-lg-12" kendo-grid="grid" k-options="gridOptions"> </div>
                </div>
            </div>
        </div>
        <!--Gallery Right End Here-->

    </div>
</div>