<div    data-sasta-auto-slider  class="main no-top-padding">
        <div class="jx-container ">
            <div class="map-holder hidden-xs overlay">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d87971.08230326888!2d80.18613568966434!3d12.9840456373236!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8b36eb572451cd7d!2sSocial+Audit+Society+of+Tamilnadu!5e0!3m2!1sen!2s!4v1460652890168" width="640" height="480" frameborder="0" style="border:0" allowfullscreen></iframe>        
            <!--<iframe 
                src="https://www.google.com/maps/place/Social+Audit+Society+of+Tamilnadu/@12.9840456,80.1861357,12.5z/data=!4m2!3m1!1s0x0:0x8b36eb572451cd7d?hl=en-IN" width="640" height="480">
            </iframe>-->
            </div>
              
        </div>
        <br>
 <div class="container cfx">
      <div unit-lg-12 unit-sm-12 unit-md-12 unit-xs-12>
              
                     <h2 class="heading-text clr-blue">Head Office</h2>
              
                 <div class="jx-sidebar-address">
                   <p>Social Audit Society of Tamilnadu,</p>
                     <p>Dept.of Rural development & Pt.Raj, </p>
                     <p>Panagal Maaligai, Saidapet, </p>
                     <p>Chennai – 600015. </p>
                 </div>
            </div>

      <center>
        <h2 class="heading-text clr-blue">Contact Details</h2>
      </center>
      
      <div  class="unit-lg-4 unit-sm-4 unit-md-4 unit-xs-12 news-holder contactDeatils">
        <h5 class="s10 mrg-btm"> Thiru, S.Sattanathan</h5>
       
          <p>The Director,odio tincidunt auctor a ornare odio.</p>
          <p>Phone : 044-24322151 </p>
         <p>Fax : 044-24332155 </p>
         <p>Email : sadirectorate@gmail.com</p> 
      </div>
      <div class="unit-lg-4 unit-sm-4 unit-md-4 unit-xs-12 news-holder contactDeatils">
                 <h5 class="s10 mrg-btm">Tmt, J.BELLAH.</h5>
                  <p>The Joint Director (Northern Region)</p> 
                  <p>Phone : 044-24322151 </p> 
                  <p>Fax : 044-24332155 </p> 
                  <p>Email : sadirectorate@gmail.com</p> 
              </div>
              <div class="unit-lg-4 unit-sm-4 unit-md-4 unit-xs-12 news-holder contactDeatils">
               <h5 class="s10 mrg-btm">Tmt, R.RAJAJEYABALA.</h5>
                  <p>The Joint Director (Southern Region)</p> 
                  <p>Phone : 044-24322151 </p> 
                  <p>Fax : 044-24332155 </p> 
                  <p>Email : sadirectorate@gmail.com</p> 
              </div>
  <div class="unit-lg-4 unit-sm-4 unit-md-4 unit-xs-12 news-holder contactDeatils">
                 <h5 class="s10 mrg-btm">Thiru, S.KALYAN KUMAR.</h5>
                  <p>Assistant Director,</p> 
                  <p>Phone : 044-24322151</p> 
                  <p>Fax : 044-24332155 </p> 
                  <p>Email : sadirectorate@gmail.com</p> 
              </div>

    </div>

</div>

  <script type="text/javascript">
      
        $('.overlay').click(function () {
          $('.overlay iframe').css("pointer-events", "auto");
       });
       
</script> 