<!--Map Banner Section Start Here-->
<div class="white-bx-holder cnt-bx-divide cfx">
    <div class="container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d87971.08230326888!2d80.18613568966434!3d12.9840456373236!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8b36eb572451cd7d!2sSocial+Audit+Society+of+Tamilnadu!5e0!3m2!1sen!2s!4v1460652890168"
                width="100%" height="480" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div> <!--Map Banner Section End Here-->
<div class="white-bx-holder cnt-bx-divide cfx">
    <div class="row cfx">
        <div class="unit-xs-12">
            <div class="jx-sidebar-address"><h4 class="heading-text">Address</h4>
                <ul>
                    <div>
                        <li class="text-bold">Social Audit Society of Tamilnadu,</li>
                        <li>Dept.of Rural development & Pt.Raj,</li>
                        <li>Panagal Building, Saidapet,</li>
                        <li>Chennai – 600015</li>
                        <li>Phone : 044-24322151</li>
                        <li>Fax : 044-24332155</li>
                        <li>Email : sadirectorate@gmail.com</li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="white-bx-holder cnt-bx-divide cfx"><h4 class="heading-text">Contact Details</h4>

    <div class="row cfx">
        <div class="unit-lg-4 unit-sm-6 unit-md-4 unit-xs-12">
            <div class="jx-sidebar-address">
                <ul>
                    <div>
                        <li class="text-bold">Thiru. Hans Raj Verma, IAS.,</li>
                        <li>Chairman,</li>
                        <li>Social Audit Society of Tamil Nadu,</li>
                        <li>Principal Secretary to Govt.,</li>
                        <li>Dept. of Rural Development & Pt. Raj,</li>
                        <li>Secretariat,</li>
                        <li>Chennai - 600009</li>
                    </div>
                </ul>
            </div>
        </div>
        <div class="unit-lg-4 unit-sm-6 unit-md-4 unit-xs-12">
            <div class="jx-sidebar-address">
                <ul>
                    <div>
                        <li class="text-bold">Tmt. Meenakshi Rajagopal, IAS.,</li>
                        <li>Vice Chairman,</li>
                        <li>Social Audit Society of Tamil Nadu,</li>
                        <li>Addtl. Cheif Secretary/Commissioner of RD & PR(Trg)</li>
                        <li>Panagal Building,</li>
                        <li>Saidapet,</li>
                        <li>Chennai - 600015</li>
                    </div>
                </ul>
            </div>
        </div>
        <div class="unit-lg-4 unit-sm-6 unit-md-4 unit-xs-12">
            <div class="jx-sidebar-address">
                <ul>
                    <div>
                        <li class="text-bold">Thiru. S.Sattanathan,</li>
                        <li>Director,</li>
                        <li>Social Audit Society of Tamil Nadu,</li>
                        <li>Dept.of Rural development & Pt.Raj,</li>
                        <li>Panagal Building,</li>
                        <li>Saidapet,</li>
                        <li>Chennai - 600015</li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="white-bx-holder cnt-bx-divide cfx">
    <div class="row cfx">
        <div class="unit-lg-4 unit-sm-6 unit-md-4 unit-xs-12">
            <div class="jx-sidebar-address">
                <ul>
                    <div>
                        <li class="text-bold"></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>