<div role="main"   data-sasta-auto-slider  class="main no-top-padding">
        <div class="jx-container padding-top-20">
            <div class="container">
<!--<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d971.8123391591581!2d80.2237633885125!3d13.019786486266211!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1449325619350" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>-->                 
                         <iframe  height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"                         
                    src="http://maps.google.com/maps?hl=en&amp;ie=UTF8&amp;ll=37.0625,-95.677068&amp;spn=56.506174,79.013672&amp;t=m&amp;z=4&amp;output=embed"></iframe>   
            </div>
        </div>
    	<div class="jx-container padding-top-20">
            <div class="container">
                <div class="sixteen columns">
                    <div class="jx-office-widget jx-sidebar-block">
                        <div class="jx-section-title-2">
                            <div class="jx-title jx-uppercase small-text">Address</div>
                            <div class="jx-seperator-hr"></div>
                        </div>
                        <div class="jx-sidebar-address">
                            <ul>
                                <div>
								<li>Social Audit Society of Tamilnadu, </li>
								<li>Dept.of Rural development & Pt.Raj, </li>
								<li>Panagal Maaligai, Saidapet, </li>
								<li>Chennai – 600015. </li>
								</div>
                            </ul>
                        </div>
                    </div> 
                </div>
			</div>
			<div class="container jx-section-title-2">
			<div class="four columns left">
                            <div class="jx-title jx-uppercase small-text">Contact Details</div>
            </div> </div>
			<div class="container">
                <div class="four columns left">
                    <div class="jx-office-widget jx-sidebar-block">
                        <div class="jx-sidebar-address">
                            <ul>
                                <div>
								<li class="bold">Thiru, S.Sattanathan</li>
								<li>The Director,</li>
								<li>Phone : 044-24322151 </li>
								<li>Fax : 044-24332155 </li>
								<li>Email : sadirectorate@gmail.com</li>
								</div>
                            </ul>
                        </div>
                    </div> 
                </div>
				<div class="four columns left">
                    <div class="jx-office-widget jx-sidebar-block">
                        <div class="jx-sidebar-address">
                            <ul>
                                <div>
								<li class="bold">Tmt, J.BELLAH.</li>
								<li>The Joint Director (Northern Region)</li>
								<li>Phone : 044-24322151 </li>
								<li>Fax : 044-24332155 </li>
								<li>Email : sadirectorate@gmail.com</li>
								</div>
                            </ul>
                        </div>
                    </div> 
                </div>
				<div class="four columns left">
                    <div class="jx-office-widget jx-sidebar-block">
                        <div class="jx-sidebar-address">
                            <ul>
                                <div>
								<li class="bold">Tmt, R.RAJAJEYABALA.</li>
								<li>The Joint Director (Southern Region)</li>
								<li>Phone : 044-24322151 </li>
								<li>Fax : 044-24332155 </li>
								<li>Email : sadirectorate@gmail.com</li>
								</div>
                            </ul>
                        </div>
                    </div> 
                </div>
				<div class="four columns left">
                    <div class="jx-office-widget jx-sidebar-block">
                        <div class="jx-sidebar-address">
                            <ul>
                                <div>
								<li class="bold">Thiru, S.KALYAN KUMAR.</li>
								<li>Assistant Director,</li>
								<li>Phone : 044-24322151 </li>
								<li>Fax : 044-24332155 </li>
								<li>Email : sadirectorate@gmail.com</li>
								</div>
                            </ul>
                        </div>
                    </div> 
                </div>
				<div class="four columns left">
                    <div class="jx-office-widget jx-sidebar-block">
                        <div class="jx-sidebar-address">
                            <ul>
                                <div>
								<li class="bold">Sample Name</li>
								<li>Assistant Director,</li>
								<li>Phone : 044-24322151 </li>
								<li>Fax : 044-24332155 </li>
								<li>Email : sadirectorate@gmail.com</li>
								</div>
                            </ul>
                        </div>
                    </div> 
                </div>
            </div>
		</div>
</div>