<footer class="footer cfx">
  <div class="container cfx">
    <div class="unit-lg-5 unit-sm-5 unit-md-5 ftr-clmn visible-lg"> <a class="ftr-logo" href="#"><img src="assets/figure/ftr-logo.png" alt=""></a>
      <p>Mahatma Gandhi National Rural Employment Guarantee Act (MGNREGA) enacted on 5th September, 2005 was the first act to make ‘Social Audit’ mandatory. Social Audit is conducted audit conducted jointly by the Government of the people, especially by those people who are affected by, or are the intended beneficiaries of the scheme being audited. </p>
      <a href="#" class="btn-skyblue-md">Learn More<i class="btnarwmd"></i></a> </div>
    <div class="ftr-small-device">
      <div class="unit-lg-3 unit-sm-3 unit-md-3 unit-xs-12 ftr-clmn ftr-clmn2">
        <h4 class="ftr-heading">Links</h4>
        <ul class="ftr-nav">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Useful Links</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">News</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
      <div class="unit-lg-4 unit-sm-7 unit-md-7 hidden-xs ftr-clmn ftr-clmn2">
        <h4 class="ftr-heading">Events Calendar</h4>
        <img src="assets/figure/calender-temp.png" alt=""> </div>
    </div>
    <a href="javascript:void(0)" class="tp-scroll"><img src="assets/figure/top-btn.png" alt=""></a> 
  </div>