<!--Footer Start Here-->
	<footer class="footer cfx container">
	  <div class="cfx">
		<ul class="ftr-nav">
		<li><a ui-sref="ui.index">Home</a></li>
		<li><a ui-sref="ui.about-us">About Us</a></li>
		<li><a ui-sref="ui.gallery">Gallery</a></li>
		<li><a ui-sref="ui.careers">Careers</a></li>
		<li><a ui-sref="ui.news">News</a></li>
		<li><a style="border-right:none;" ui-sref="ui.contact-us">Contact Us</a></li>
		 <br>
		 <li><p>Copyright&nbsp;&copy;&nbsp;2016 Sasta</p><li>
		</ul>		
	  </div>
	  <a href="javascript:void(0)" class="tp-scroll"><img src="assets/images/top-btn.png" scroll-top alt="Go to top" title="Go to top"></a>
	</footer>

	<!--Footer End Here--> 