<!--Banner Section Start Here-->
<section id="main" class="iS-Fullscreen set-size tablet desktop mhidden container">
    <div class="sequence-theme">
        <div id="sequence" class="iS-Fullscreen" slide-panel>
            <!--                    <div class="ribbon-wrapper"><a href="promotions.php"><div class="ribbon" style="font-size: 14px">SPRING IS THE SAVING <br> SEASON PROMOTION - CLICK HERE</div></a></div> -->

            <ul class="sequence-canvas">
                <li class="animate-in">
                    <!--
                  <h2 class="title">Heading 1</h2>
                  <h3 class="subtitle">Sub Heading1</h3>
                  <h3 class="sub-subtitle">Paragraph Content</h3>
                  <h3 class="sub-sub-subtitle"> Paragraph Content</h3>
                  <a href="#" class="link">explore our house and land package range <i class="fa fa-arrow-circle-right"></i></a>
                  -->
                    <div class="main-image" style="background-image: url(&quot;assets/images/b1.jpg&quot;);"></div>

                </li>
                <!--Sample Content Goes Here-->
                <li class="animate-out">
                    <!--
                        <h2 class="title">Heading 1</h2>
                        <h3 class="subtitle">Sub Heading1</h3>
                        <h3 class="sub-subtitle">Paragraph Content</h3>
                        <h3 class="sub-sub-subtitle"> Paragraph Content</h3>
                        <a href="#" class="link">explore our house and land package range <i class="fa fa-arrow-circle-right"></i></a>
                        -->
                    <div class="main-image" style="background-image: url(&quot;assets/images/b2.jpg&quot;);"></div>
                </li>
                <!--Sample Content Goes Here-->
                <li class="animate-out">
                    <!--
                        <h2 class="title">Heading 1</h2>
                        <h3 class="subtitle">Sub Heading1</h3>
                        <h3 class="sub-subtitle">Paragraph Content</h3>
                        <h3 class="sub-sub-subtitle"> Paragraph Content</h3>
                        <a href="#" class="link">explore our house and land package range <i class="fa fa-arrow-circle-right"></i></a>
                        -->
                    <div class="main-image" style="background-image: url(&quot;assets/images/b3.jpg&quot;);"></div>
                </li>
                <!--Sample Content Goes Here-->
                <li class="animate-out">
                    <!--
                        <h2 class="title">House and Land </h2>
                        <h3 class="subtitle">House and land packages across Melbourne</h3>
                        <h3 class="sub-subtitle">Explore our pre-planned house and land package range</h3>
                        <h3 class="sub-sub-subtitle"> Take our DIY House and Land Questionnaire and tell us what you’re looking for</h3>
                        <a href="#" class="link">explore our house and land package range <i class="fa fa-arrow-circle-right"></i></a>
                        -->
                    <div class="main-image" style="background-image: url(&quot;assets/images/b4.jpg&quot;);"></div>
                </li>
                <!--Sample Content Goes Here-->
            </ul>
            <ul class="sequence-pagination bottomNav">
                <li class="current">
                    <div class="slide-show-menu">
                        WORKSITE MEASUREMENT
                        <div class="details">
                                    <span style="font-size: 14px;" class="resizeMe arial-font">
                                        <!-- DESCRIPTION GOES HERE-->
                                    </span>
                        </div>
                    </div>
                </li>
                <li class="">
                    <div class="slide-show-menu">
                        GRAMA SABHA
                        <div class="details">
                                    <span style="font-size: 14px;" class="resizeMe arial-font">
                                        <!-- DESCRIPTION GOES HERE-->    
                                    </span>
                        </div>
                    </div>
                </li>
                <li class="">
                    <div class="slide-show-menu">
                        GRAMA SABHA
                        <div class="details">
                                    <span style="font-size: 14px;" class="resizeMe arial-font">
                                         <!-- DESCRIPTION GOES HERE-->   
                                    </span>
                        </div>
                    </div>
                </li>
                <li class="">
                    <div class="slide-show-menu">
                        HABITATION LEVEL MEETING
                        <div class="details">
                                    <span style="font-size: 14px;" class="resizeMe arial-font">
                                        <!-- DESCRIPTION GOES HERE-->    
                                    </span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<!--Banner Section End Here-->
<div class="white-bx-holder cnt-bx-divide cfx">
    <div class="container cfx">

        <div class="wc-heading"><img src="assets/images/welcome-header.png" alt=""></div>
        <div class="row cfx">
            <div class="welcome-caption unit-lg-8 unit-sm-8 unit-md-8 unit-xs-12">
                <p>Mahatma Gandhi National Rural Employment Guarantee Act (MGNREGA) enacted on 5th September, 2005 was
                    the first act to make ‘Social Audit’ mandatory. Social Audit is conducted audit conducted jointly by
                    the Government of the people, especially by those people who are affected by, or are the intended
                    beneficiaries of the scheme being audited. Official records are compared against ground realities by
                    the primary stakeholders and the findings are presented in the public platform. The Social Audit
                    process goes beyond accounting for the money that has been spent to examine whether the money was
                    spent properly and has made a difference to people’s lives. </p>

                <p>Following the Social Audit, Government will take action on the findings and inform the stakeholders
                    of the action taken. </p>

                <p>Social Audit will promote public participation, deter corruption, address grievances and improve the
                    implementation of the scheme. The Central Government in consultation with the Comptroller and
                    Auditor General of India (CAG) published the MGNREGA Audit of Scheme Rules on 30th June 2011.</p>
            </div>

            <div class="unit-lg-4 unit-sm-4 unit-md-4 unit-xs-12">
                <div ng-include="'views/static/rotator.html'"></div>
            </div>
        </div>


    </div>
</div>

<div class="gry-bx-holder cnt-bx-divide cfx">
    <div class="container cfx unit-lg-12 unit-sm-12 unit-md-12 unit-xs-12" ng-init="GetTop3News()">
        <div class="unit-lg-8 unit-sm-8 unit-md-8 unit-xs-12 lft-border minimum-height">
            <center>
                <h4 class="heading-text">Recent News</h4>
            </center>

            <div ng-hide="!newsFlag" ng-repeat="newsObject in top3news" class="unit-lg-6 unit-sm-6 unit-md-6 unit-xs-12 news-holder">
                <figure class="hnewsimg"><img no-cache-src="{{newsObject.imageName}}" alt="{{newsObject.title}}"></figure>
                <figcaption>
                    <p>{{(newsObject.content||'No content to display!')|ellipsis:200}}</p>
                    <a ui-sref="ui.viewnews({newsid: newsObject.id, mode : 'view'})" class="btn-white-md">Learn More<i
                            class="btnarwmd"></i></a></figcaption>
            </div>
            <div ng-show="!newsFlag" class="unit-lg-12 unit-sm-12 unit-md-12 unit-xs-12">
                <center><h6>No news to display here!</h6></center>
            </div>
        </div>

        <div class="unit-lg-4 unit-sm-4 unit-md-4 unit-xs-12 rht-border minimum-height" ng-init="GetMessages()" box-slider>
            <center>
                <h4 class="heading-text">Message From Director</h4>
            </center>
            <div class="unit-lg-12 unit-sm-12 unit-md-12 unit-xs-12 news-holder"  >
                <!-- DEMO -->
                <div class="testimonials-slider">
                    <div class="slide" ng-repeat="slide in messages">
                        <div class="testimonials-carousel-context">
                            <div class="testimonials-name" ng-bind="slide.title"></div>
                            <div class="testimonials-carousel-content">{{slide.content}}</div>
                        </div>
                    </div>
                </div>
                <!-- END DEMO -->
            </div>
        </div>
    </div>
</div>
  