<main class="content-holder">	
<div class="gry-bx-holder cnt-bx-divide cfx">
    <div class="container cfx">
      <center>
        <h2 class="heading-text clr-blue">Recent News</h2>
      </center>
      <div class="unit-lg-4 unit-sm-4 unit-md-4 unit-xs-12 news-holder">
        <figure class="hnewsimg"><img src="assets/figure/news-img1.jpg" alt=""></figure>
        <figcaption>
          <p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>
          <a href="#" class="btn-white-md">Learn More<i class="btnarwmd"></i></a> </figcaption>
      </div>
      <div class="unit-lg-4 unit-sm-4 unit-md-4 unit-xs-12 news-holder">
        <figure class="hnewsimg"><img src="assets/figure/news-img2.jpg" alt=""></figure>
        <figcaption>
          <p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>
          <a href="#" class="btn-white-md">Learn More<i class="btnarwmd"></i></a> </figcaption>
      </div>
      <div class="unit-lg-4 unit-sm-4 unit-md-4 unit-xs-12 news-holder">
        <figure class="hnewsimg"><img src="assets/figure/news-img3.jpg" alt=""></figure>
        <figcaption>
          <p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>
          <a href="#" class="btn-white-md">Learn More<i class="btnarwmd"></i></a> </figcaption>
      </div>
    </div>
  </div>
</main>

 