 <div role="main"   data-sasta-auto-slider  class="main no-top-padding">
    	<div class="jx-container">
            <div class="container min-height padding-top-20"> 
                <div class="twelve columns jx-section-title-1">            
                    <div class="jx-title-position">
                        <div class="jx-useful-links">
						<ul>
							<li><a href="#">Government of Tamil Nadu</a></li>
							<li><a href="#">Mahatma Gandhi National Rural Employment Gurantee Act</a></li>
							<li><a href="#">Rural development and panchayati raj</a></li>
							<li><a href="#">Department of rural development</a></li>
							<li><a href="#">Department of panchayati raj</a></li>
							<li><a href="#">Ministry of rural development</a></li>
							<li><a href="#">National Institute of Rural Development & Panchayati Raj</a></li>
						<ul>
						</div>
                    </div>
				</div>
				
                <!-- Section Title -->
        </div>        
    </div>
</div>